<div>
	<div id="inputCal"></div>
<div class="card-panel z-depth-0 filter-card">

		<div class="card small padding-bottom-10">
			<div class="row margin-bottom-0">
				<div class="input-field col l2">
					<select ng-model="month_filter" class="browser-default margin-top-5">
						<option value="">Select Month</option>
						<option value="01">January</option>
						<option value="02">February</option>
						<option value="03">March</option>
						<option value="04">April</option>
						<option value="05">May</option>
						<option value="06">June</option>
						<option value="07">July</option>
						<option value="08">August</option>
						<option value="09">September</option>
						<option value="10">October</option>
						<option value="11">November</option>
						<option value="12">December</option>
				    </select>
				</div>
				<!-- <div class="input-field col l2">
					<input type="date" ng-model="from_date" class="mydatepicker margin-top-5">
					<label for="from_date" class="active">Inquiry From</label>
				</div> -->
				<!-- <div class="input-field col l2">
					<input type="date" ng-model="to_date" class="mydatepicker margin-top-5">
					<label for="to_date" class="active">Inquiry To</label>
				</div> -->
				<!-- <div class="input-field col l1">
					<select ng-model="sales_stage_filter" class="browser-default margin-top-5">
						<option value="" selected>Select</option>
						<option value="c0">C0</option>
						<option value="c1">C1</option>
						<option value="c2">C2</option>
						<option value="c3">C3</option>
						<option value="wishlist">Wishlist</option> -->
						<!-- <option value="Won">Won</option> -->
				    <!-- </select>
				    <label class="active">Sales Stage</label>
				</div> -->
				<!-- <div class="input-field col l2" ng-show="currentUser.email == 'rushabh.vora@silagroup.co.in'">
					<select ng-model="email_filter" class="browser-default margin-top-5">
						<option value="" selected>Select</option>
						<option value="dilip@envocare.in">Dilip Murkute</option>
						<option value="leejohn.vaz@silagroup.co.in">Leejohn Vaz</option>
						<option value="neermohi.shah@silagroup.co.in">Neermohi Shah</option>
						<option value="raghav.kapur@silagroup.co.in">Raghav Kapoor</option>
						<option value="rahul.doshi@silagroup.co.in">Rahul Doshi</option>
						<option value="rushabh.vora@silagroup.co.in">Rushabh Vora</option>
						<option value="sv@silagroup.co.in">Sahil Vora</option>
						<option value="saarang.ganapathi@silagroup.co.in">Saarang Ganapathi</option>
						<option value="kunal.lala@silagroup.co.in">Kunal Lala</option>
						<option value="nishtha.jain@silagroup.co.in">Nishtha Jain</option>
						<option value="kaivalya.mehta@silagroup.co.in">Kaivalya Mehta</option>
						<option value="ankit.maheswari@silagroup.co.in">Ankit Maheswari</option>
						<option value="milap.shah@silagroup.co.in">Milap Shah</option>
				    </select>
				    <label class="active">Lead Owner</label>
				</div> -->
				<!-- <div class="input-field col l3">
					<input type="text" id="company_name_filter" ng-model="company_name_filter" class="margin-top-5" style="font-size: 0.9rem; height: 2.3rem;">
					<label class="active" for="company_name_filter" style="font-size: 0.9rem; top: 1rem;">Company Name</label>
				</div> -->
				<div class="input-field col l1">
					<button class="waves-effect waves-light grey btn margin-top-5" ng-click="change_month();">
						<i class="material-icons left">search</i>
					</button>
				</div>
				<!-- <div class="input-field col l1">
					<select ng-model="client_type_filter" class="browser-default margin-top-5">
						<option value="" selected>Select</option>
						<option value="existing_client">Existing Client</option>
						<option value="new_client">New Client</option>
				    </select>
				    <label class="active">Client Type</label>
				</div> -->
				
			</div>
	</div>
</div>

<div ng-show="loading" class="loading"><img src="img/hourglass.gif" width="80" height="80" />LOADING...</div>
<div>

<div class="row">
	<div class="col s12 m6 l3 xl2" style="margin-bottom: 15px;" ng-repeat="dt in month_days track by $index" ng-click="setKAPDate(dt.value)">
		<div class="date_box" ng-hide="loading">
			{{ dt.display }}
			<a data-target="view_activities"  ng-click="getAllKAPs(dt.value)" class="waves-effect waves-light btn right red" style="margin-left: 10px;" modal><i class="material-icons left">list</i></a>
			<a ng-show="currentUser.email != 'demo@silagroup.co.in' || currentUser.email != 'satyajit.nalawade@silagroup.co.in'" data-target="add_activity" class="waves-effect waves-light btn right blue" modal><i class="material-icons left">add</i></a>
		</div>
	</div>
	<!-- <div class="col s12 m4" style="margin-bottom: 15px;" ng-repeat="lead in kap_data track by $index" ng-click="setLeadIndex($index)"> -->
        <!-- <div class="card mycard">
          <div class="card-content">
            <span class="card-title tooltipped" data-position="top" data-tooltip="{{ lead.company_name }}" style="display: inline-block; font-weight: 600; line-height: 13px; margin-bottom: 5px; font-size: 14px;">{{ lead.company_name }}</span><br />
            <span style="margin-top: 0px; font-size: 13px;"><strong style="font-weight: 600;">Added On:</strong> {{ lead.created_date }}</span> -->

           <!--  <p style="margin-bottom: 5px;  font-size: 13px;"><strong style="font-weight: 600;">Lead Owner: </strong> {{ lead.spoc }}</p> -->
            <!-- <div class="row" style="margin-bottom: 0px;">
               <div class="col s12 m12">
                <a data-target="view_activities" ng-click="set_activities(lead)" class="waves-effect waves-light btn right" style="margin-top: -20px;" modal><i class="material-icons left">list</i></a>
                <a data-target="add_activity" ng-click="add_activity(lead._id,lead)" class="waves-effect waves-light btn right red" style="margin-top: -20px;" modal><i class="material-icons left">add</i></a> -->
                <!-- <a class="waves-effect waves-light btn red" ng-click="deleteLeadData(lead._id)"><i class="material-icons left">delete</i></a>
                <a class="waves-effect waves-light btn blue" ng-click="show_company_details($index)"><i class="material-icons">assignment</i></a> -->
               <!-- </div>
            </div>
          </div>
        </div> -->
    <!-- </div> -->

</div>


		<!-- <div ng-show="hasMoreData==true&&loading==false" class="loading"><button ng-click="show_more_data()" class="btn waves-effect waves-light blue">LOAD MORE DATA</button></div> -->

	<!-- <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
        <a class="btn-floating btn-large red" data-target="add_kap" data-position="left" data-delay="50" data-tooltip="Add Lead" modal>
          <i class="material-icons">add</i>
        </a>
    </div> -->

    <div id="add_kap" class="modal modal_md modal-fixed-footer">
	    <div class="modal-content modal-content-pad">
	      <h4 class="modal-header">Add KAP</h4>
	
			<input id="id" ng-model="leadData.id" type="hidden">

	      	<div class="row margin-bottom-7 ">
				<div class="input-field col l6">
					<select id="company_name" class="browser-default" ng-model="leadData.company_name">
					    <option value="" disabled selected>Company</option>
					    <option value="{{ company.name }}" ng-repeat="company in companies">{{ company.name }}</option>
					</select>
				</div>
				<div class="input-field col l6">
					<input type="text" ng-model="leadData.follow_up_date" class="mydatepicker margin-top-5">
					<label for="company_poc">Follow Up Date</label>
				</div>
			</div>

			<div class="row margin-bottom-7">
				<div class="input-field col l12">
					<textarea id="activity" rows="2" ng-model="leadData.activity" class="materialize-textarea" ng-keypress="$event.stopPropagation()" ></textarea>
					<label for="activity">Activity</label>
				</div>
			</div>		

	    </div>

	    <div class="modal-footer">
		<a class=" modal-action waves-effect waves-green btn" ng-click="saveKAP()">Save</a>
	      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>

	<div id="add_activity" class="modal modal_md modal-fixed-footer">
	    <div class="modal-content modal-content-pad">
	      <h4 class="modal-header">Add Activity</h4>

	      	<div class="row margin-bottom-7 ">
				<div class="input-field col l12">
					<select id="ccompany_name" class="browser-default" ng-model="leadData.ccompany_name" ng-change="show_company(leadData.ccompany_name)">
					    <option value="" disabled selected>Company</option>
					    <option value="{{ company.name }}" ng-repeat="company in companies">{{ company.name }}</option>
					</select>
				</div>
			</div>
		
			<div class="row margin-bottom-7 " ng-show="show_other_company">
				<div class="input-field col l12">
					<input type="text" ng-model="leadData.other_company_name" class="margin-top-5">
					<label for="company_poc">Other Company Name</label>
				</div>
			</div>

	      	<!-- <div class="row margin-bottom-7 ">
				<div class="input-field col l12">
					<input type="text" ng-model="leadData.follow_up_date" class="mydatepicker margin-top-5">
					<label for="company_poc">Follow Up Date</label>
				</div>
			</div> -->

			<div class="row margin-bottom-7">
				<div class="input-field col l12">
					<textarea id="activity" rows="2" ng-model="leadData.activity" class="materialize-textarea" ng-keypress="$event.stopPropagation()" ></textarea>
					<label for="activity">Activity</label>
				</div>
			</div>		

	    </div>

	    <div class="modal-footer">
		<a class=" modal-action waves-effect waves-green btn" ng-hide="isUpdateKAP" ng-click="saveKAP()">Save</a>
		<a class=" modal-action waves-effect waves-green btn" ng-show="isUpdateKAP" ng-click="updateKAP()">Update</a>
	      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>
	
	<div id="view_activities" class="modal modal_lg">
	    <div class="modal-content">
	    	<div class="row margin-bottom-10"  ng-hide="currentUser.email == 'subhasis.roy@silagroup.co.in' || currentUser.email == 'anish.hamsa@silagroup.co.in' || currentUser.email == 'kailash.parihar@silagroup.co.in' || currentUser.email == 'naveen.chandra@silagroup.co.in' || currentUser.email == 'regan.simon@silagroup.co.in' || currentUser.email == 'sanket.sheth@silagroup.co.in'">
	    		<div class="input-field col l2">
					<select ng-model="email_filter" ng-change="getAllKAPs(kap_date,email_filter)" class="browser-default margin-top-5">
						<option value="" selected>Lead Owner</option>
						<!-- <option value="dilip@envocare.in">Dilip Murkute</option> -->
						<option value="leejohn.vaz@silagroup.co.in">Leejohn Vaz</option>
						<!-- <option value="neermohi.shah@silagroup.co.in">Neermohi Shah</option> -->
						<option value="raghav.kapur@silagroup.co.in">Raghav Kapur</option>
						<option value="rahul.doshi@silagroup.co.in">Rahul Doshi</option>
						<!-- <option value="rushabh.vora@silagroup.co.in">Rushabh Vora</option>
						<option value="sv@silagroup.co.in">Sahil Vora</option>
						<option value="saarang.ganapathi@silagroup.co.in">Saarang Ganapathi</option> -->
						<option value="kunal.lala@silagroup.co.in">Kunal Lala</option>
						<!-- <option value="nishtha.jain@silagroup.co.in">Nishtha Jain</option> -->
						<option value="kaivalya.mehta@silagroup.co.in">Kaivalya Mehta</option>
						<!-- <option value="nishant.kumar@silagroup.co.in">Nishant Kumar</option> -->
						<!-- <option value="ankur.vaid@silagroup.co.in">Ankur Vaid</option> -->
						<!-- <option value="girish.sharmaa@silagroup.co.in">Girish Sharmaa</option> -->
						<option value="varun.vaz@silagroup.co.in">Varun Vaz</option>
						<!-- <option value="pradeep.tiwari@silagroup.co.in">Pradeep Tiwari</option> -->
						<!-- <option value="anand.sarolkar@silagroup.co.in">Anand Sarolkar</option> -->
						<!-- <option value="paresh.badhiya@silagroup.co.in">Paresh Badhiya</option> -->
						<!-- <option value="suresh.baria@silagroup.co.in">Suresh Baria</option> -->
						<!-- <option value="satnam.sethi@silagroup.co.in">Satnam Sethi</option> -->
						<option value="nonita.mehta@silagroup.co.in">Nonita Mehta</option>
						<!-- <option value="pratham.mehta@silagroup.co.in">Pratham Mehta</option> -->
						<option value="subhasis.roy@silagroup.co.in">Subhasis Roy</option>
						<option value="anish.hamsa@silagroup.co.in">Anish Hamsa</option>
						<option value="kailash.parihar@silagroup.co.in">Kailash Parihar</option>
						<option value="naveen.chandra@silagroup.co.in">Naveen Chandra</option>
						<option value="regan.simon@silagroup.co.in">Regan Simon</option>
						<option value="sanket.sheth@silagroup.co.in">Sanket Sheth</option>
						<!-- <option value="ankit.maheswari@silagroup.co.in">Ankit Maheswari</option>
						<option value="milap.shah@silagroup.co.in">Milap Shah</option>
						<option value="tanveer.khan@mrhomecare.in">Tanveer Khan</option> -->
				    </select>
				</div>
	    	</div>
	    	<div class="row margin-bottom-10" ng-show="kaps.length > 0">
				<div class="col l12 work-order-tbl">
					<table>
						<thead>
							<th>Date Added On</th>
							<th>Lead Owner</th>
							<th>Company</th>
							<th style="width: 50%;">Activity Planned</th>
							<th ng-if="(currentUser.email != 'demo@silagroup.co.in' || currentUser.email != 'satyajit.nalawade@silagroup.co.in')">Action</th>
						</thead>
						<tbody>
							<tr ng-repeat="kap_activity in kaps">
								<td>{{ kap_activity.created_date }}</td>
								<td>{{ kap_activity.spoc }}</td>
								<td>{{ kap_activity.company_name == 'Other' ? kap_activity.other_company_name : kap_activity.company_name }}</td>
								<td>{{ kap_activity.activity }}</td>
								<td ng-if="(currentUser.email != 'demo@silagroup.co.in' || currentUser.email != 'satyajit.nalawade@silagroup.co.in') && currentUser.email == kap_activity.email"><a ng-click="editKAP(kap_activity)" class="cursor-pointer"><i class="material-icons">mode_edit</i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row margin-bottom-10" ng-show="kaps.length <= 0">
				<p>No activity planned for this lead owner.</p>
			</div>
	    </div>
	    <!-- <div class="modal-footer">
			<a class=" modal-action waves-effect waves-green btn" ng-click="updateKAP()">Update</a>
			<a class=" modal-action modal-close waves-effect waves-grey btn-flat">Close</a>
	    </div> -->
	</div>
	

    <div id="update_remark" class="modal modal_md">
	    <div class="modal-content">
	    	<div class="row margin-bottom-10" ng-show="crm_remark_arr.length > 0">
				<div class="col l12 work-order-tbl">
					<table>
						<thead>
							<th>Date</th>
							<th style="width: 50%;">Remark</th>
							<th>Updated By</th>
							<th>Add to WO</th>
						</thead>
						<tbody>
							<tr ng-repeat="cr in crm_remark_arr">
								<td>{{ cr.added_on | date:'dd MMM yyyy' }}</td>
								<td>{{ cr.remark }}</td>
								<td>{{ cr.added_by }}</td>
								<td>
									<select dynamic-model="'select_option' + cr._id" class="browser-default new-select-css" ng-change="updateServiceRemarkStatus($index,select_option);">
									    <option>Select</option>
									    <option value="1" ng-selected="cr.show==1">Yes</option>
									    <option value="0" ng-selected="cr.show==0">No</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
	    </div>
	    <div class="modal-footer">
			<a class=" modal-action waves-effect waves-green btn" ng-click="updateKAP()">Update</a>
			<a class=" modal-action modal-close waves-effect waves-grey btn-flat">Close</a>
	    </div>
	</div>



	

	<div id="add_lead" class="modal modal_md modal-fixed-footer">
	    <div class="modal-content modal-content-pad">
	      <h4 class="modal-header">Add Lead</h4>
	
			<input id="id" ng-model="leadData.id" type="hidden">

	      	<div class="row margin-bottom-7 ">
				<div class="input-field col l6">
					<input id="company_name" ng-model="leadData.company_name" type="text">
					<label for="company_name">Company Name</label>
				</div>
				<div class="input-field col l6">
					<input id="company_poc" ng-model="leadData.company_poc" type="text">
					<label for="company_poc">Company POC</label>
				</div>
			</div>

			<div class="row margin-bottom-7">
				<div class="input-field col l6">
					<input id="company_poc_email" ng-model="leadData.company_poc_email" type="text">
					<label for="company_poc_email">Company POC Email</label>
				</div>
				<div class="input-field col l6">
					<input id="company_poc_mobile" ng-model="leadData.company_poc_mobile" type="text">
					<label for="company_poc_mobile">Company POC Mobile</label>
				</div>
			</div>
	
			<div class="row margin-bottom-7">
				<div class="input-field input-group col l6">
				    <input id="spoc" ng-model="lead_owners" type="text" readonly>
					<label for="spoc">Lead Owner</label>
					<span class="suffix">
	                    <a class="btn btn-floating waves-effect waves-light red" data-backdrop="static" data-keyboard="false"  data-target="demoModal" modal>+</a>
	                </span>
				</div>
				<div class="input-field col l6">
					<select ng-model="leadData.city" class="browser-default margin-top-5">
						<option value="" disabled selected>City</option>
						<option value="{{ city.name }}" ng-repeat="city in cities">{{ city.name }}</option>
				    </select>
				</div>
			</div>

			<div class="row">
				<div class="input-field col l6 margin-top-0">
					<select id="industry" class="browser-default" ng-model="leadData.industry">
					    <option value="" disabled selected>Industry</option>
					    <option value="Corporate Offices">Corporate Offices</option>
						<option value="Developers">Developers</option>
						<option value="Education">Education</option>
						<option value="F&B, Retail, Hospitality">F&B, Retail, Hospitality</option>
						<option value="Financial Services">Financial Services</option>
						<option value="Industrial">Industrial</option>
						<option value="Infrastructure">Infrastructure</option>
						<option value="Residential Society">Residential Society</option>
					</select>
				</div>
			
				<div class="input-field col l6 margin-top-0">
					<select id="client_type" class="browser-default" ng-model="leadData.client_type">
					    <option value="" disabled selected>Client Type</option>
						<option value="existing_client">Existing Client</option>
						<option value="new_client">New Client</option>
					</select>
				</div>

			</div>

			<div class="row">
				
				<div class="input-field col l6">
					<input id="c0" ng-model="leadData.c0_value" type="text">
					<label for="c0">C0</label>
				</div>

				<div class="input-field col l6">
					<input id="c1" ng-model="leadData.c1_value" type="text">
					<label for="c1">C1</label>
				</div>

			</div>
			
			<div class="row">
				<div class="input-field col l6">
					<input id="c2" ng-model="leadData.c2_value" type="text">
					<label for="c2">C2</label>
				</div>

				<div class="input-field col l6">
					<input id="c3" ng-model="leadData.c3_value" type="text">
					<label for="c3">C3</label>
				</div>				
			</div>

	    </div>

	    <div class="modal-footer">
		<a class=" modal-action waves-effect waves-green btn" ng-click="saveLeadData()">Save</a>
	      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>

	
	<div id="demoModal" class="modal modal-fixed-footer modal_lg">
	    <div class="modal-content">
			<div class="row">
				<div class="col l12">

					<table class="bordered my_tbl">
						<tbody>
						  <tr>
						    <td width="5%">
						    	<input name="selectedSpoc[]" type="checkbox" value="DM" id="dm_spoc"  />
								<label for="dm_spoc"></label>
						    </td>
						    <td>Dilip Murkute</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="LV" id="lv_spoc"  />
								<label for="lv_spoc"></label>
						    </td>
						    <td>LeeJohn Vaz</td>
						  </tr>
						  <!--<tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="NS" id="ns_spoc"  />
								<label for="ns_spoc"></label>
						    </td>
						    <td>Neermohi Shah</td>
						  </tr> -->
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="RK" id="rk_spoc"  />
								<label for="rk_spoc"></label>
						    </td>
						    <td>Raghav Kapoor</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="RD" id="rd_spoc"  />
								<label for="rd_spoc"></label>
						    </td>
						    <td>Rahul Doshi</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="RV" id="rv_spoc"  />
								<label for="rv_spoc"></label>
						    </td>
						    <td>Rushabh Vora</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="SV" id="sv_spoc"  />
								<label for="sv_spoc"></label>
						    </td>
						    <td>Sahil Vora</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="SG" id="sg_spoc"  />
								<label for="sg_spoc"></label>
						    </td>
						    <td>Saarang Ganpathi</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="KL" id="kl_spoc"  />
								<label for="kl_spoc"></label>
						    </td>
						    <td>Kunal Lala</td>
						  </tr>
						  <!-- <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="NJ" id="nj_spoc"  />
								<label for="nj_spoc"></label>
						    </td>
						    <td>Nishtha Jain</td>
						  </tr> -->
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="KM" id="km_spoc"  />
								<label for="km_spoc"></label>
						    </td>
						    <td>Kaivalya Mehta</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="AM" id="am_spoc"  />
								<label for="am_spoc"></label>
						    </td>
						    <td>Ankit Maheswari</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="MS" id="ms_spoc"  />
								<label for="ms_spoc"></label>
						    </td>
						    <td>Milap Shah</td>
						  </tr>
						</tbody>
					      </table>

				</div>
			</div>

	    </div>
	    <div class="modal-footer">
			<a href="" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="getCheckedSPOCValues()" >OK</a>
	    </div>
	</div>


	

</div>

<script type="text/javascript">
		$(document).ready(function(){
			$('.collapsible').collapsible();
			$('.tooltipped').tooltip({delay: 50});
			$('select').material_select();
			$('.dropdown-trigger').dropdown();
			$('.mydatepicker').datepicker({
			    format: 'yyyy-mm-dd'
			});

			$(".btn-hide-search").click(function(){
				$(".filter-card").hide();
			});
			$(".btn-show-search").click(function(){
				$(".filter-card").show();
			});

			$('#mobile_no').on('blur',function(){
				//$('.mydatepicker').blur();
		        $('.picker').blur();
		        //$('.mydatepicker').stop();
			});

			$('#city').on('blur',function(){
				console.log("Leads");
				$("#client_firstname").focus();
				//$('.mydatepicker').blur();
		        $('.picker').blur();
		        //$('.mydatepicker').stop();
			});

		});
</script>
