<div class="row">
	<div class="col l12">

		<table class="bordered">
			<thead>
			  <tr>
				  <th>Date</th>
			      <th>Client Name</th>
			      <th>Client Mobile No.</th>
			      <th>Services</th>
			      <th>Status</th>
			      <th>Action</th>
			  </tr>
			</thead>
			<tbody>
				<tr ng-repeat="inspection in inspections">
					<td>{{ inspection.created_on | date:'dd MMM yyyy' }}</td>
					<td>{{ inspection.client_details.firstname }} {{ inspection.client_details.lastname }}</td>
					<td>{{ inspection.client_details.primary_contact_no }}</td>
					<td>
						<span ng-repeat="dm in inspection.deployment_particulars">
							{{ dm.service }}<br />
						</span>
					</td>
					<td>
						<select ng-model="status" class="browser-default new-select-css width-auto" ng-hide="inspection.status == 3 || inspection.status == 2" ng-change="updateInspectionStatus(inspection._id,status,$index)">
								<option value="">Status</option>
								<option value="0" ng-selected="inspection.status==0">Open</option>
								<option value="1" ng-selected="inspection.status==1">Closed</option>
								<option value="2" ng-selected="inspection.status==2">Cancelled</option>
								<option value="3" ng-selected="inspection.status==3">Completed</option>
							</select>
						<span ng-show="inspection.status == 2">{{ inspection.status == 2 ? 'Cancelled' : '' }}</span>
						<span ng-show="inspection.status == 3">{{ inspection.status == 3 ? 'Completed' : '' }}</span>
					</td>
					<td>
						<a ng-click="editInspection(inspection,$index)" ng-hide="inspection.status" class="cursor-pointer"><i class="material-icons">mode_edit</i></a>&nbsp;
						<a ng-click="showFullReport($index)" data-target="full-report-modal" class="modal-trigger" modal><i class="material-icons">visibility</i></a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

</div>