<div class="row">
    <div class="col-md-12">
        <h3>Add/Edit Department</h3>
        <form name="departmentForm" novalidate>
            
            <div class="form-group" ng-class="{ 'has-error': departmentForm.site_id.$touched && departmentForm.site_id.$invalid }">
                
                <select class="form-control" name="site_id" ng-model="site_id" ng-options="site.id as site.name for site in sites" required>
                    <option value="">Site Name</option>
                </select>

                <div class="help-block" ng-messages="departmentForm.site_id.$error" ng-if="departmentForm.site_id.$touched">
                    <p ng-message="required">Your site name is required.</p>
                </div>

            </div>

            <div class="form-group" ng-class="{ 'has-error': departmentForm.name.$touched && departmentForm.name.$invalid }">
                
                <input type="hidden" ng-model="department_id">

                <input type="text" class="form-control" name="name" placeholder="Department" ng-model="name" required>

                <div class="help-block" ng-messages="departmentForm.name.$error" ng-if="departmentForm.name.$touched">
                    <p ng-message="required">Your Department is required.</p>
                </div>

            </div>
            <button class="btn btn-primary" ng-click="addDepartment()" ng-disabled="!departmentForm.$valid">Submit</button>
        </form>
    </div>
</div>