<div class="row margin-bottom-0">
    <div class="col s12 m12 l12">
		<div class="card">
			<div class="card-content">
				<div class="row margin-bottom-0">
					<div class="col l2">
						<select id="filter_city" ng-model="filter_city" ng-change="filterDataCB()" class="browser-default">
						    <option value="" selected>City</option>
						    <option value="{{ key }}" ng-repeat="(key,value) in cities">{{ value }}</option>
						    <!-- <option value="1">Mumbai</option>
						    <option value="2">Bangalore</option>
						    <option value="3">New Delhi</option> -->
						</select>
					</div>
					<div class="col l2">
						<select id="filter_leadsource" ng-model="filter_leadsource" ng-change="filterDataCB()" class="browser-default">
						    <option value="" selected>Lead Source</option>
						    <option value="{{ key }}" ng-repeat="(key,value) in ls_options">{{ value }}</option>
						    <!-- <option value="1">Mumbai</option>
						    <option value="2">Bangalore</option>
						    <option value="3">New Delhi</option> -->
						</select>
					</div>
                    <!-- <div class="col l2">
                        <select id="filter_client_type" ng-model="filter_client_type" ng-change="filterDataCB()" class="browser-default">
                            <option value="" selected>Client Type</option>
                            <option value="0" >Existing Client</option>
                            <option value="1" >New Client</option>
                        </select>
                    </div> -->
					<!-- <div class="col l3">
						<select id="filter_service" ng-model="filter_service" ng-change="filterData()" class="browser-default">
						    <option value="" selected>Service Name</option>
						    <option value="{{ key }}" ng-repeat="(key,value) in services_options">{{ value }}</option> -->
						    <!-- <option value="1">Mumbai</option>
						    <option value="2">Bangalore</option>
						    <option value="3">New Delhi</option> -->
						<!-- </select>
					</div> -->
					<div class="col l3">
						<input type="date" ng-model="from_sdate" placeholder="Start Date" class="mydatepicker">
					</div>
					<div class="col l3">
						<input type="date" ng-model="to_sdate" placeholder="End Date" ng-change="filterDataCB()" class="mydatepicker">
					</div>
				</div>
			</div>
		</div>
    </div>
</div>



<div class="row margin-bottom-0">
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content">
        	<div class="row margin-bottom-0">
        		<div class="col l3">
        			<i class="fa fa-inr fa-5x margin-top-5"></i>
        		</div>
        		<div class="col l9">
        			<div class="huge">{{ cleaning_estimated_revenue }}</div>
        			<div>Cleaning Bookings</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content">
        	<div class="row margin-bottom-0">
        		<div class="col l3">
        			<i class="fa fa-inr fa-5x margin-top-5"></i>
        		</div>
        		<div class="col l9">
        			<div class="huge">{{ pest_estimated_revenue }}</div>
        			<div>Pest Control Bookings</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content">
        	<div class="row margin-bottom-0">
        		<div class="col l3">
        			<i class="fa fa-inr fa-5x margin-top-5"></i>
        		</div>
        		<div class="col l9">
        			<div class="huge">{{ ac_estimated_revenue }}</div>
        			<div>AC Servicing Bookings</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content">
        	<div class="row margin-bottom-0">
        		<div class="col l3">
        			<i class="fa fa-inr fa-5x margin-top-5"></i>
        		</div>
        		<div class="col l9">
        			<div class="huge">{{ handyman_estimated_revenue }}</div>
        			<div>Handyman & Car care</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
</div>

<div class="row margin-bottom-0">
    <div class="col s12 m12 l12">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Monthly Bookings Chart</span>
				<div id="categorywise_area_chart"></div>
			</div>
		</div>
    </div>
</div>


<div class="row margin-bottom-0">
    <div class="col s12 m12 l6">
        <div class="row">        
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Category Wise Booking</span>
                        <table class="bordered striped centered responsive-table">
                            <thead>
                                <tr>
                                    <th>Category Name</th>
                                    <th>Total Orders</th>
                                    <th>Pre Tax Bookings</th>
                                    <th>Post Tax Bookings</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="parent in parent_data">
                                    <td>{{ category_options[parent.category] }}</td>
                                    <td align="right">{{ parent.total_orders }}</td>
                                    <td align="right">{{ parent.estimated_revenue_pre_tax }}</td>
                                    <td align="right">{{ parent.estimated_revenue_post_tax }}</td>
                                </tr>
                                <tr>
                                   <td><b>Total</b></td>
                                   <td><b>{{ category_count_total }}</b></td>
                                   <td><b>{{ category_pre_total }}</b></td>
                                   <td><b>{{ category_post_total }}</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6">
    	<div class="card">
    		<div class="card-content">
    			<span class="card-title">Service Wise Bookings</span>
                <div  style="float:right; ">
                    <select id="service_category" ng-model="service_category" ng-change="filterByCategory()" class="browser-default">
                        <option value="" selected>Service Name</option>
                        <option value="{{ key }}" ng-repeat="(key,value) in category_options" ng-selected="{{ key == service_category }}">{{ value }}</option>
                    </select>
                </div>
				<table class="bordered striped centered responsive-table" ng-show="child_data.length > 0">
					<thead>
						<tr>
							<th>Service Name</th>
							<th>Total Orders</th>
							<th>Pre Tax Bookings</th>
							<th>Post Tax Bookings</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="child in child_data">
							<td>{{ child.service }}</td>
							<td>{{ child.total_orders }}</td>
							<td>{{ child.estimated_revenue_pre_tax }}</td>
							<td>{{ child.estimated_revenue_post_tax }}</td>
						</tr>
                        <tr>
                           <td><b>Total</b></td>
                           <td><b>{{ service_count_total }}</b></td>
                           <td><b>{{ service_pre_total }}</b></td>
                           <td><b>{{ service_post_total }}</b></td>
                        </tr>
					</tbody>
				</table>
                <p  ng-hide="child_data.length > 0">No Data !!!!</p>
			</div>
    	</div>
    </div>
</div>

<script type="text/javascript">
	
	$(document).ready(function(){

		$('.mydatepicker').pickadate({
		    selectMonths: true, // Creates a dropdown to control month
		    selectYears: 15, // Creates a dropdown of 15 years to control year
		    format: 'yyyy-mm-dd',
		    onClose: function(){
		        $('.mydatepicker').blur();
		        $('.picker').blur();
		        $('.mydatepicker').stop();
			}
		});

        $('.tooltipped').tooltip({delay: 50});

	});

</script>
