<!-- <div class="row margin-bottom-0">
    <div class="col s12 m12 l12">
		<div class="card">
			<div class="card-content">
				<div class="row margin-bottom-0"> -->
<!-- 					<div class="col l2">
						<select id="filter_city" ng-model="filter_city" ng-change="filterData()" class="browser-default">
						    <option value="" selected>City</option>
						    <option value="{{ key }}" ng-repeat="(key,value) in cities">{{ value }}</option>
						    <option value="1">Mumbai</option>
						    <option value="2">Bangalore</option>
						    <option value="3">New Delhi</option>
						</select>
					</div>
					<div class="col l3">
						<select id="filter_leadsource" ng-model="filter_leadsource" ng-change="filterData()" class="browser-default">
						    <option value="" selected>Lead Source</option>
						    <option value="{{ key }}" ng-repeat="(key,value) in ls_options">{{ value }}</option>
						    <option value="1">Mumbai</option>
						    <option value="2">Bangalore</option>
						    <option value="3">New Delhi</option>
						</select>
					</div>
					<div class="col l3">
						<select id="filter_service" ng-model="filter_service" ng-change="filterData()" class="browser-default">
						    <option value="" selected>Service Name</option>
						    <option value="{{ key }}" ng-repeat="(key,value) in services_options">{{ value }}</option>
						    <option value="1">Mumbai</option>
						    <option value="2">Bangalore</option>
						    <option value="3">New Delhi</option>
						</select>
					</div> -->
					<!-- <div class="col l2">
						<input type="date" ng-model="from_date" placeholder="Start Date" class="mydatepicker">
					</div>
					<div class="col l2">
						<input type="date" ng-model="to_date" placeholder="End Date" ng-change="filterResult(0,0)" class="mydatepicker">
					</div> -->
<!--                     <div class="col l2">
                        <select id="filter_client_type" ng-model="filter_client_type" ng-change="filterData()" class="browser-default">
                            <option value="" selected>Client Type</option>
                            <option value="0" >Existing Client</option>
                            <option value="1" >New Client</option>
                        </select>
                    </div> -->
				<!-- </div>
			</div>
		</div>
    </div>
</div> -->

<div class="row margin-bottom-0">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <!-- <span class="card-title">SPOC</span> -->
                <!-- <select ng-model="month_filter" class="pull-right" ng-change="filterResult(0,0)" multiple>
                    <option value="4">Apr 2017</option>
                    <option value="5">May 2017</option>
                    <option value="6">Jun 2017</option>
                    <option value="7">Jul 2017</option>
                    <option value="8">Aug 2017</option>
                    <option value="9">Sep 2017</option>
                    <option value="10">Oct 2017</option>
                    <option value="11">Nov 2017</option>
                    <option value="12">Dec 2017</option>
                    <option value="1">Jan 2018</option>
                    <option value="2">Feb 2018</option>
                    <option value="3">Mar 2018</option>
                </select> -->
                <div id="cvalue_bar_chart"></div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="row margin-bottom-0">
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content">
        	<div class="row margin-bottom-0">
        		<div class="col l3">
        			<i class="fa fa-inr fa-5x margin-top-5"></i>
        		</div>
        		<div class="col l9">
        			<div class="huge">{{ total_booking_revenue }}</div>
        			<div>Total Bookings</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content">
        	<div class="row margin-bottom-0">
        		<div class="col l5">
        			<i class="fa fa-database fa-5x margin-top-5"></i>
        		</div>
        		<div class="col l7 padding-left-5">
        			<div class="huge">{{ total_bookings }}</div>
        			<div>Total Orders</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content">
        	<div class="row margin-bottom-0">
        		<div class="col l5">
        			<i class="fa fa-shopping-cart fa-5x margin-top-5"></i>
        		</div>
        		<div class="col l7 padding-left-5">
        			<div class="huge">{{ today_total_bookings }}</div>
        			<div>New Orders</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content">
        	<div class="row margin-bottom-0">
        		<div class="col l3">
        			<i class="fa fa-inr fa-5x margin-top-5"></i>
        		</div>
        		<div class="col l9">
        			<div class="huge">{{ today_total_booking_revenue }}</div>
        			<div>Today's Bookings</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
</div>

<div class="row margin-bottom-0">
	<div class="col s12 m6 l6">
      <div class="card">
        <div class="card-content">
        	<div class="row margin-bottom-0">
        		<div class="col l3">
        			<i class="fa fa-inr fa-5x margin-top-5"></i>
        		</div>
        		<div class="col l9">
        			<div class="huge">{{ total_average_order_value }}</div>
        			<div>Total Average Order Value</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <div class="card">
        <div class="card-content">
        	<div class="row margin-bottom-0">
        		<div class="col l3">
        			<i class="fa fa-inr fa-5x margin-top-5"></i>
        		</div>
        		<div class="col l9">
        			<div class="huge">{{ today_average_order_value }}</div>
        			<div>Today Average Order Value</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
</div> -->

<!-- <div class="row margin-bottom-0">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content"> -->
                <!-- <span class="card-title">SPOC</span> -->
                <!-- <select ng-model="month_filter" class="pull-right" ng-change="filterResult(0,0)" multiple>
                    <option value="4">Apr 2017</option>
                    <option value="5">May 2017</option>
                    <option value="6">Jun 2017</option>
                    <option value="7">Jul 2017</option>
                    <option value="8">Aug 2017</option>
                    <option value="9">Sep 2017</option>
                    <option value="10">Oct 2017</option>
                    <option value="11">Nov 2017</option>
                    <option value="12">Dec 2017</option>
                    <option value="1">Jan 2018</option>
                    <option value="2">Feb 2018</option>
                    <option value="3">Mar 2018</option>
                </select>
                <div id="spoc_column_chart"></div>
            </div>
        </div>
    </div>
</div> -->

<div class="row margin-bottom-0">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <!-- <span class="card-title">SPOC</span> -->
                 <select ng-model="month_filter" class="browser-default pull-right" style="width: 200px;" ng-change="filterTargetHits()">
                    <option value="{{ month.m }}" ng-repeat="month in months">{{ month.m_name }}</option>
                    <!-- <option value="5">May 2017</option>
                    <option value="6">Jun 2017</option>
                    <option value="7">Jul 2017</option>
                    <option value="8">Aug 2017</option>
                    <option value="9">Sep 2017</option>
                    <option value="10">Oct 2017</option>
                    <option value="11">Nov 2017</option>
                    <option value="12">Dec 2017</option>
                    <option value="1">Jan 2018</option>
                    <option value="2">Feb 2018</option>
                    <option value="3">Mar 2018</option> -->
                </select>
                <div id="spoc_column_chart"></div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row margin-bottom-0">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content"> -->
                <!-- <span class="card-title">SPOC</span> -->
<!--                 <div id="spoc_stage_column_chart"></div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="row margin-bottom-0">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content"> -->
                <!-- <span class="card-title">SPOC</span> -->
<!--                 <div id="city_column_chart"></div>
            </div>
        </div>
    </div>
</div> -->


<div class="row margin-bottom-0">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">New Client</span>
                <!-- <div id="industry_column_chart"></div> -->
                <table class="my_tbl1" ng-if="new_client_data.length > 0">
                    <tr>
                        <th>Name</th>
                        <th>Total Count</th>
                        <th>C0</th>
                        <th>C1</th>
                        <th>C2</th>
                        <th>Revenue</th>
                        <th>BDM Contribution</th>
                    </tr>
                    <tr ng-repeat="data in new_client_data">
                        <th>{{ data.spoc }}</th>
                        <td>{{data.client_type_count }}</td>
                        <td>{{data.c0_value }}</td>
                        <td>{{data.c1_value }}</td>
                        <td>{{data.c2_value }}</td>
                        <td>{{data.revenue_client_type }}</td>
                        <td>{{data.director_contribution }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row margin-bottom-0">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Existing Client</span>
                <!-- <div id="industry_column_chart"></div> -->
                <table class="my_tbl1" ng-if="existing_client_data.length > 0">
                    <tr>
                        <th>Name</th>
                        <th>Total Count</th>
                        <th>C0</th>
                        <th>C1</th>
                        <th>C2</th>
                        <th>Revenue</th>
                        <th>BDM Contribution</th>
                    </tr>
                    <tr ng-repeat="data in existing_client_data">
                        <th>{{ data.spoc }}</th>
                        <td>{{data.client_type_count }}</td>
                        <td>{{data.c0_value }}</td>
                        <td>{{data.c1_value }}</td>
                        <td>{{data.c2_value }}</td>
                        <td>{{data.revenue_client_type }}</td>
                        <td>{{data.director_contribution }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row margin-bottom-0">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">City Wise</span>
                <!-- <div id="industry_column_chart"></div> -->
                <table class="my_tbl1" ng-if="citywisedata.length > 0">
                    <tr>
                        <th>City</th>
                        <th>C0</th>
                        <th>C1</th>
                        <th>C2</th>
                        <th>Revenue</th>
                    </tr>
                    <tr ng-repeat="data in citywisedata">
                        <th>{{ data.city }}</th>
                        <td>{{data.c0_total  }}</td>
                        <td>{{data.c1_total  }}</td>
                        <td>{{data.c2_total  }}</td>
                        <td>{{data.revenue  }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row margin-bottom-0">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Industry Wise</span>
                <!-- <div id="industry_column_chart"></div> -->
                <table class="my_tbl1" ng-if="industrywisedata.length > 0">
                    <tr>
                        <th>Industry</th>
                        <th>C0</th>
                        <th>C1</th>
                        <th>C2</th>
                        <th>Revenue</th>
                    </tr>
                    <tr ng-repeat="data in industrywisedata">
                        <th>{{ data.industry }}</th>
                        <td>{{data.c0_total  }}</td>
                        <td>{{data.c1_total  }}</td>
                        <td>{{data.c2_total  }}</td>
                        <td>{{data.revenue  }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row margin-bottom-0">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Leadowner Wise Reason Data</span>
                <!-- <div id="industry_column_chart"></div> -->
                <table class="my_tbl1" ng-if="leaddatabasespocdata.length > 0">
                    <tr>
                        <th>Name</th>
                        <th ng-repeat="(key,value) in reasons">
                            {{ value }}
                        </th>
                        <th>Revenue</th>
                    </tr>
                    <tr ng-repeat="data in leaddatabasespocdata">
                        <th>{{ data.spoc }}</th>
                        <td ng-repeat="reason in data.reason_data">
                            {{ reason.count }}
                        </td>
                        <td>
                            {{ data.revenue }}
                        </td>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row margin-bottom-0">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Lead Database</span>
                <!-- <div id="industry_column_chart"></div> -->
                <table class="my_tbl1" ng-if="leaddatabasedata.length > 0">
                    <tr>
                        <th>Name</th>
                        <th>C0</th>
                        <th>C1</th>
                        <th>C2</th>
                        <th>C3</th>
                        <th>Total</th>
                    </tr>
                    <tr ng-repeat="data in leaddatabasedata">
                        <th>{{ data.spoc }}</th>
                        <td>{{data.c0_total  }}</td>
                        <td>{{data.c1_total  }}</td>
                        <td>{{data.c2_total  }}</td>
                        <td>{{data.c3_total  }}</td>
                        <td>{{ (data.c0_total + data.c1_total + data.c2_total + data.c3_total) | number: 2  }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row margin-bottom-0">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content"> -->
                <!-- <span class="card-title">SPOC</span> -->
<!--                 <div id="sales_stage_column_chart"></div>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="row margin-bottom-0">
    <div class="col s12 m12 l12">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Monthly Bookings Chart</span>
				<div id="area_chart"></div>
			</div>
		</div>
    </div>
</div>


<div class="row margin-bottom-0">
    <div class="col s12 m12 l6">
        <div class="row">        
            <div class="col s12 m12 l12">
        		<div class="card">
        			<div class="card-content">
        				<span class="card-title">Lead Source Wise Bookings</span>
        				<div id="lead_source_wise"></div>
        			</div>
        		</div>
            </div>
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Todays Booking</span>
                        <table class="bordered striped centered responsive-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Service</th>
                                    <th>Amount</th>
                                    <th>Leadsource</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="order in today_closed_order_data">
                                    <td>{{ order['name'] }}</td>
                                    <td><a class="tooltipped" data-position="top" data-delay="50" title="{{ order['service_full_name'] }}" data-tooltip="{{ order['service_full_name'] }}">{{ order['service_name'] }}</a></td>
                                    <td>{{ order['pre_taxed_cost'] }}</td>
                                    <td>{{ order['leadsource'] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Cancellation Reason Orders</span>
                        <table class="bordered striped centered responsive-table">
                            <thead>
                                <tr>
                                    <th>Cacellation Reasons</th>
                                    <th>No. of Orders</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="corder in cancellation_reasons_orders">
                                    <td>{{ cancellation_reasons[corder['_id']] }}</td>
                                    <td>{{ corder['fieldCount'] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6">
    	<div class="card">
    		<div class="card-content">
    			<span class="card-title">Total Bookings</span>
				<table class="bordered striped centered responsive-table">
					<thead>
						<tr>
							<th>Date</th>
							<th>Total Orders</th>
							<th>Pre Tax Bookings</th>
							<th>Post Tax Bookings</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="data in booking_data">
							<td>{{ data['dateFormatted'] }}</td>
							<td>{{ data['fieldCount'] }}</td>
							<td>{{ data['pretotalFormatted'] }}</td>
							<td>{{ data['posttotalFormatted'] }}</td>
						</tr>
					</tbody>
				</table>
			</div>
    	</div>
    </div>
</div>

<div class="row margin-bottom-0">
    <div class="col s12 m12 l6">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Lead Conversion Analysis - No of Orders</span>
				<div id="lead_pie_chart"></div>
			</div>
		</div>
    </div>
    <div class="col s12 m12 l6">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Lead Conversion Analysis - Bookings Value</span>
				<div id="lead_data_chart"></div>
			</div>
		</div>
    </div>
</div> -->


<script type="text/javascript">
	
	$(document).ready(function(){

        $('select').material_select();

		$('.mydatepicker').pickadate({
		    selectMonths: true, // Creates a dropdown to control month
		    selectYears: 15, // Creates a dropdown of 15 years to control year
		    format: 'yyyy-mm-dd',
		    onClose: function(){
		        $('.mydatepicker').blur();
		        $('.picker').blur();
		        $('.mydatepicker').stop();
			}
		});

        $('.tooltipped').tooltip({delay: 50});

	});

</script>
