<div class="row margin-bottom-0">
    <div class="col s12 m12 l12">
		<div class="card">
			<div class="card-content">
				<div class="row margin-bottom-0">
					<div class="col l2">
						<select id="filter_city" ng-model="filter_city" ng-change="filterDataOP()" class="browser-default">
						    <option value="" selected>City</option>
						    <option value="{{ key }}" ng-repeat="(key,value) in cities">{{ value }}</option>
						    <!-- <option value="1">Mumbai</option>
						    <option value="2">Bangalore</option>
						    <option value="3">New Delhi</option> -->
						</select>
					</div>
					<div class="col l3">
						<select id="filter_leadsource" ng-model="filter_leadsource" ng-change="filterDataOP()" class="browser-default">
						    <option value="" selected>Lead Source</option>
						    <option value="{{ key }}" ng-repeat="(key,value) in ls_options">{{ value }}</option>
						    <!-- <option value="1">Mumbai</option>
						    <option value="2">Bangalore</option>
						    <option value="3">New Delhi</option> -->
						</select>
					</div>
					<div class="col l3">
						<select id="filter_service" ng-model="filter_service" ng-change="filterDataOP()" class="browser-default">
						    <option value="" selected>Service Name</option>
						    <option value="{{ key }}" ng-repeat="(key,value) in services_options">{{ value }}</option>
						    <!-- <option value="1">Mumbai</option>
						    <option value="2">Bangalore</option>
						    <option value="3">New Delhi</option> -->
						</select>
					</div>
					<div class="col l2">
						<input type="date" ng-model="from_sdate" placeholder="Start Date" class="mydatepicker">
					</div>
					<div class="col l2">
						<input type="date" ng-model="to_sdate" placeholder="End Date" ng-change="filterDataOP()" class="mydatepicker">
					</div>
					<div class="col l2">
                        <select id="filter_client_type" ng-model="filter_client_type" ng-change="filterDataOP()" class="browser-default">
                            <option value="" selected>Client Type</option>
                            <option value="0" >Existing Client</option>
                            <option value="1" >New Client</option>
                        </select>
                    </div>
				</div>
			</div>
		</div>
    </div>
</div>



<div class="row margin-bottom-0">
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content">
        	<div class="row margin-bottom-0">
        		<div class="col l3">
        			<i class="fa fa-inr fa-5x margin-top-5"></i>
        		</div>
        		<div class="col l9">
        			<div class="huge">{{ total_organic_order_bookings }}</div>
        			<div>Organic Bookings</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content padding-left-10">
        	<div class="row margin-bottom-0">
        		<div class="col l5">
        			<i class="fa fa-database fa-5x margin-top-5"></i>
        		</div>
        		<div class="col l7 padding-left-5">
        			<div class="huge">{{ total_organic_order_count }}</div>
        			<div>Organic Orders</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content padding-left-10">
        	<div class="row margin-bottom-0">
        		<div class="col l4">
        			<i class="fa fa-database fa-5x margin-top-5"></i>
        		</div>
        		<div class="col l8 padding-left-10">
        			<div class="huge padding-left-10">{{ total_partner_order_count }}</div>
        			<div>Partner Bookings</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content">
        	<div class="row margin-bottom-0">
        		<div class="col l3">
        			<i class="fa fa-inr fa-5x margin-top-5"></i>
        		</div>
        		<div class="col l9">
        			<div class="huge">{{ total_partner_order_bookings }}</div>
        			<div>Partner Orders</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
</div>

<div class="row margin-bottom-0">
    <div class="col s12 m12 l12">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Monthly Orders Chart</span>
				<div id="column_chart"></div>
			</div>
		</div>
    </div>
</div>


<div class="row margin-bottom-0">
    <div class="col s12 m12 l6">
    	<div class="card">
    		<div class="card-content">
    			<span class="card-title">Organic Bookings</span>
				<table class="bordered striped centered responsive-table">
					<thead>
						<tr>
							<th>Date</th>
							<th>Total Orders</th>
							<th>Pre Tax Bookings</th>
							<th>Post Tax Bookings</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="od in organic_booking_data">
							<td>{{ od['dateFormatted'] }}</td>
							<td>{{ od['fieldCount'] }}</td>
							<td>{{ od['pretotalFormatted'] }}</td>
							<td>{{ od['posttotalFormatted'] }}</td>
						</tr>
					</tbody>
				</table>
			</div>
    	</div>
    </div>
    <div class="col s12 m12 l6">
    	<div class="card">
    		<div class="card-content">
    			<span class="card-title">Partner Bookings</span>
				<table class="bordered striped centered responsive-table">
					<thead>
						<tr>
							<th>Date</th>
							<th>Total Orders</th>
							<th>Pre Tax Bookings</th>
							<th>Post Tax Bookings</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="pd in partner_booking_data">
							<td>{{ pd['_id'] }}</td>
							<td>{{ pd['fieldCount'] }}</td>
							<td>{{ pd['pretotal'] }}</td>
							<td>{{ pd['posttotal'] }}</td>
						</tr>
					</tbody>
				</table>
			</div>
    	</div>
    </div>
</div>

<script type="text/javascript">
	
	$(document).ready(function(){

		$('.mydatepicker').pickadate({
		    selectMonths: true, // Creates a dropdown to control month
		    selectYears: 15, // Creates a dropdown of 15 years to control year
		    format: 'yyyy-mm-dd',
				onSet: function () {
		        this.close();
		    },
		    onClose: function(){
		        $('.mydatepicker').blur();
		        $('.picker').blur();
		        $('.mydatepicker').stop();
			}
		});

	});

</script>
