<div class="row">
    <div class="col-md-12">
        <h3>Add/Edit Brand</h3>
        <form name="brandForm" novalidate>
            <div class="form-group" ng-class="{ 'has-error': brandForm.name.$touched && brandForm.name.$invalid }">
                
                <input type="hidden" ng-model="brand_id">

                <input type="text" class="form-control" name="name" placeholder="Brand" ng-model="name" required>

                <div class="help-block" ng-messages="brandForm.name.$error" ng-if="brandForm.name.$touched">
                    <p ng-message="required">Your brand name is required.</p>
                </div>

            </div>
            <button class="btn btn-primary" ng-click="addBrand()" ng-disabled="!brandForm.$valid">Submit</button>
        </form>
    </div>
</div>