<div class="row">
    <div class="col-md-12">
        <h3>Add/Edit Item Type</h3>
        <form name="itemTypeForm" novalidate>
            <div class="form-group" ng-class="{ 'has-error': itemTypeForm.type_name.$touched && itemTypeForm.type_name.$invalid }">
                
                <input type="hidden" ng-model="type_id">

                <input type="text" class="form-control" name="type_name" placeholder="Item Type Name" ng-model="type_name" required>

                <div class="help-block" ng-messages="itemTypeForm.type_name.$error" ng-if="itemTypeForm.type_name.$touched">
                    <p ng-message="required">Your item type name is required.</p>
                </div>

            </div>
            
            <div class="form-group" ng-class="{ 'has-error': itemTypeForm.type_code.$touched && itemTypeForm.type_code.$invalid }">
                
                <input type="hidden" ng-model="type_id">

                <input type="text" class="form-control" name="type_code" placeholder="Item Type Code" ng-model="type_code" required>

                <div class="help-block" ng-messages="itemTypeForm.type_code.$error" ng-if="itemTypeForm.type_code.$touched">
                    <p ng-message="required">Your item type code is required.</p>
                </div>

            </div>

            <button class="btn btn-primary" ng-click="addItemType()" ng-disabled="!itemTypeForm.$valid">Submit</button>
        </form>
    </div>
</div>