<div class="row">
    <div class="col-md-12">
        <h3>Add/Edit Zone</h3>
        <form name="zoneForm" novalidate>
            <div class="form-group" ng-class="{ 'has-error': zoneForm.zone_name.$touched && zoneForm.zone_name.$invalid }">
                
                <input type="hidden" ng-model="zone_id">

                <input type="text" class="form-control" name="zone_name" placeholder="Zone" ng-model="zone_name" required>

                <div class="help-block" ng-messages="zoneForm.zone_name.$error" ng-if="zoneForm.zone_name.$touched">
                    <p ng-message="required">Your zone name is required.</p>
                </div>

            </div>
            <button class="btn btn-primary" ng-click="addZone()" ng-disabled="!zoneForm.$valid">Submit</button>
        </form>
    </div>
</div>