<div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
          <div class="nk-block-between">
            <div class="nk-block-head-content">
              <h3 class="nk-block-title page-title">Change Password</h3>
              <div class="nk-block-des text-soft">
                <!-- <p>You have total 2,595 users.</p> -->
              </div>
            </div>
          </div>
          <!-- .nk-block-between -->
        </div>
  
        <div
          class="nk-block mb-20"
        >
          <div class="row g-gs">
            <div class="col-xxl-12">
              <div class="card card-bordered card-preview">
                <div class="card-inner">
                    <form class="form-validate is-alter" name="userChangePasswordForm" novalidate>
                        <div class="row gy-4">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Old Password</label>
                                    <div class="form-control-wrap">
                                    <input
                                        name="old_password"
                                        type="password"
                                        class="form-control"
                                        ng-model="old_password"
                                        required
                                    />
                                        <div
                                            class="help-block"
                                            ng-messages="userChangePasswordForm.old_password.$error"
                                            ng-if="userChangePasswordForm.old_password.$touched"
                                            >
                                            <div ng-message="required">Please enter your old password</div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-4">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">New Password</label>
                                    <div class="form-control-wrap">
                                    <input
                                        name="new_password"
                                        type="password"
                                        class="form-control"
                                        ng-model="new_password"
                                        required
                                    />
                                        <div
                                            class="help-block"
                                            ng-messages="userChangePasswordForm.new_password.$error"
                                            ng-if="userChangePasswordForm.new_password.$touched"
                                            >
                                            <div ng-message="required">Please enter your new password</div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-4">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Confirm New Password</label>
                                    <div class="form-control-wrap">
                                    <input
                                        name="confirm_new_password"
                                        type="password"
                                        class="form-control"
                                        ng-model="confirm_new_password"
                                        required
                                    />
                                        <div
                                            class="help-block"
                                            ng-messages="userChangePasswordForm.confirm_new_password.$error"
                                            ng-if="userChangePasswordForm.confirm_new_password.$touched"
                                            >
                                            <div ng-message="required">Please enter and confirm your new password</div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-4">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <button
                                    type="button"
                                    class="btn btn-lg btn-primary"
                                    ng-click="change_password()"
                                    ng-disabled="!userChangePasswordForm.$valid"
                                    >
                                    Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="modal fade" tabindex="-1" id="add_user">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ updateUser == true ? 'Edit' : 'Add' }} User
          </h5>
          <a href="#" class="close" data-dismiss="modal" aria-label="Close">
            <em class="icon ni ni-cross"></em>
          </a>
        </div>
        <div class="modal-body">
          <form class="form-validate is-alter" name="userForm" novalidate>
            <div class="row gy-4">
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="form-label" for="name">Name</label>
                  <div class="form-control-wrap">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      ng-model="userData.name"
                      required
                    />
                    <div
                      class="help-block"
                      ng-messages="userForm.name.$error"
                      ng-if="userForm.name.$touched"
                    >
                      <div ng-message="required">Please enter user name</div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="form-label" for="email">Email</label>
                  <div class="form-control-wrap">
                    <input
                      type="email"
                      name="email"
                      class="form-control"
                      ng-model="userData.email"
                      required
                    />
                    <div
                      class="help-block"
                      ng-messages="userForm.email.$error"
                      ng-if="userForm.email.$touched"
                    >
                      <div ng-message="required">Please enter user email</div>
                      <div ng-message="email">Please enter valid user email</div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-sm-12" ng-hide="updateUser">
                <div class="form-group">
                  <label class="form-label" for="password">Password</label>
                  <div class="form-control-wrap">
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      ng-model="userData.password"
                      required
                    />
                    <div
                      class="help-block"
                      ng-messages="userForm.password.$error"
                      ng-if="userForm.password.$touched"
                    >
                      <div ng-message="required">Please enter user password</div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="form-label" for="user_type">User Type</label>
                  <div class="form-control-wrap">
                    <select
                      name="user_type"
                      class="form-control"
                      ng-model="userData.user_type"
                      required
                    >
                      <option value=""></option>
                      <option value="A">Admin</option>
                      <option value="U">User</option>
                    </select>
                    <div
                      class="help-block"
                      ng-messages="userForm.user_type.$error"
                      ng-if="userForm.user_type.$touched"
                    >
                      <div ng-message="required">Please select user type</div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-sm-6">
                <div class="form-group">
                  <button
                    type="button"
                    class="btn btn-lg btn-primary"
                    ng-click="save_user()"
                    ng-disabled="!userForm.$valid"
                  >
                    Save
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- <div class="modal-footer bg-light">
            <span class="sub-text">Modal Footer Text</span>
          </div> -->
      </div>
    </div>
  </div>
  