<!-- <div class="card-panel z-depth-0 filter-card" ng-if="currentUser.email == 'rushabh.vora@silagroup.co.in' || currentUser.email == 'tanveer.khan@mrhomecare.in'">
	<div class="card small padding-bottom-10">
		<div class="row margin-bottom-0">
	
			<h5>Target Hit</h5>

			<div class="row">
				<div class="input-field col l2">
					<select ng-model="month_filter" ng-change="filter_targets()" class="browser-default margin-top-5 right">
						<option value="">Select Month</option>
						<option value="1">January</option>
						<option value="2">February</option>
						<option value="3">March</option>
						<option value="4">April</option>
						<option value="5">May</option>
						<option value="6">June</option>
						<option value="7">July</option>
						<option value="8">August</option>
						<option value="9">September</option>
						<option value="10">October</option>
						<option value="11">November</option>
						<option value="12">December</option>
				    </select>
		    	</div>
		    	<div class="input-field col l2">
		    		<select id="bd_rep_filter" ng-change="filter_targets()" class="browser-default margin-top-5 right" ng-model="bd_rep_filter">
					    <option value="">BD Rep</option>
					    <option value="{{ user.email }}" ng-repeat="user in users">{{ user.name }}</option>
					</select>
		    	</div>
		    	<div class="input-field col l2">
		    		<button class="btn waves-effect waves-light blue" ng-click="open_target_hit_modal()">Add</button>
		    	</div>
		    </div>
			
			<table class="my_tbl1">
		        
		        <thead>
		          	<tr>
						<th style="text-align: left;">BD Rep</th>
						<th style="text-align: left;">Company Name</th>
						<th style="text-align: left;">BDM Contribution</th>
						<th style="text-align: left;">Director Contribution</th>
						<th style="text-align: left;">Total Value</th>
						<th>Actions</th>
		          	</tr>
		        </thead>

		        <tbody>
		        	<tr ng-repeat="target in target_hits track by $index" ng-if="target_hits.length > 0">
		        		<td>{{ target.bd_name }}</td>
		        		<td>{{ target.company_name }}</td>
		        		<td>{{ target.bdm_contribution }}</td>
		        		<td>{{ target.director_contribution }}</td>
		        		<td>{{ target.total }}</td>
		        		<td><a ng-click="edit_target(target._id)" class="waves-effect waves-light btn green darken-4"><i class="material-icons">mode_edit</i></a>
		        		<a class="waves-effect waves-light btn red" ng-click="delete_target_hit(target._id)"><i class="material-icons">delete</i></a></td>
		        	</tr>
		        	<tr ng-if="target_hits.length <= 0">
		        		<td colspan="6">
		        			<p>No target hits found.</p>
		        		</td>
		        	</tr>
		        </tbody>

		    </table>
			

		</div>
	</div>
</div> -->


<div class="card-panel z-depth-0 filter-card" style="pointer-events: {{  currentUser.email == 'rushabh.vora@silagroup.co.in' || currentUser.email == 'tanveer.khan@mrhomecare.in' ? 'auto' : 'none'; }}">
	<div class="card small padding-bottom-10">
		<div class="row margin-bottom-0">
			
			<table class="responsive-table centered my_tbl1">
		        
		        <thead>
		          	<tr>
						<th>Monthly Targets</th>
						<th ng-repeat="user in users">
							{{ user.name }}<br />
							<small>(Achieved | Total)</small>
						</th>
						<th>
							Total<br />
							<small>(Achieved | Total)</small>
						</th>
		          	</tr>
		        </thead>

		        <tbody>
		          	<tr>
			            <td>Jan</td>
			            <td ng-repeat="user in users">
			            	<input type="text" name="jan_{{ user.id }}_achieved" ng-model="achievedMonthTarget['jan_'+user.id+'_achieved']" ng-blur="update_achieved_target('jan_'+user.id+'_achieved',user.id,'Jan')" />
			            	<span>|</span>
			            	<input type="text" name="jan_{{ user.id }}" ng-model="monthTarget['jan_'+user.id]" ng-blur="update_target('jan_'+user.id,user.id,'Jan')" />
			            </td>
			            <td>
			            	<input type="text" ng-model="monthwiseAchievedTarget['jan_total_achieve']" disabled />
			            	<span>|</span>
			            	<input type="text" ng-model="monthwiseTarget['jan_total']" disabled />
			            </td>
		          	</tr>
		          	<tr>
			            <td>Feb</td>
			            <td ng-repeat="user in users">
			            	<input type="text" name="feb_{{ user.id }}_achieved" ng-model="achievedMonthTarget['feb_'+user.id+'_achieved']" ng-blur="update_achieved_target('feb_'+user.id+'_achieved',user.id,'Feb')" />
			            	<span>|</span>
			            	<input type="text" name="feb_{{ user.id }}"  ng-model="monthTarget['feb_'+user.id]" ng-blur="update_target('feb_'+user.id,user.id,'Feb')" />
			            </td>
			            <td>
			            	<input type="text" ng-model="monthwiseAchievedTarget['feb_total_achieve']" disabled />
			            	<span>|</span>
			            	<input type="text" ng-model="monthwiseTarget['feb_total']" disabled />
			            </td>
		          	</tr>
		          	<tr>
			            <td>Mar</td>
			            <td ng-repeat="user in users">
			            	<input type="text" name="mar_{{ user.id }}_achieved" ng-model="achievedMonthTarget['mar_'+user.id+'_achieved']" ng-blur="update_achieved_target('mar_'+user.id+'_achieved',user.id,'Mar')" />
			            	<span>|</span>
			            	<input type="text" name="mar_{{ user.id }}"  ng-model="monthTarget['mar_'+user.id]" ng-blur="update_target('mar_'+user.id,user.id,'Mar')" />
			            </td>
			            <td>
			            	<input type="text" ng-model="monthwiseAchievedTarget['mar_total_achieve']" disabled />
			            	<span>|</span>
			            	<input type="text" ng-model="monthwiseTarget['mar_total']" disabled />
			            </td>
		          	</tr>
		          	<tr>
			            <td>Apr</td>
			            <td ng-repeat="user in users">
			            	<input type="text" name="apr_{{ user.id }}_achieved" ng-model="achievedMonthTarget['apr_'+user.id+'_achieved']" ng-blur="update_achieved_target('apr_'+user.id+'_achieved',user.id,'Apr')" />
			            	<span>|</span>
			            	<input type="text" name="apr_{{ user.id }}" ng-model="monthTarget['apr_'+user.id]" ng-blur="update_target('apr_'+user.id,user.id,'Apr')" />
			            </td>
			            <td>
			            	<input type="text" ng-model="monthwiseAchievedTarget['apr_total_achieve']" disabled />
			            	<span>|</span>
			            	<input type="text" ng-model="monthwiseTarget['apr_total']" disabled />
			            </td>
		          	</tr>
		          	<tr>
			            <td>May</td>
			            <td ng-repeat="user in users">
			            	<input type="text" name="may_{{ user.id }}_achieved" ng-model="achievedMonthTarget['may_'+user.id+'_achieved']" ng-blur="update_achieved_target('may_'+user.id+'_achieved',user.id,'May')" />
			            	<span>|</span>
			            	<input type="text" name="may_{{ user.id }}" ng-model="monthTarget['may_'+user.id]" ng-blur="update_target('may_'+user.id,user.id,'May')" />
			            </td>
			            <td>
			            	<input type="text" ng-model="monthwiseAchievedTarget['may_total_achieve']" disabled />
			            	<span>|</span>
			            	<input type="text" ng-model="monthwiseTarget['may_total']" disabled />
			            </td>
		          	</tr>
		          	<tr>
			            <td>Jun</td>
			            <td ng-repeat="user in users">
			            	<input type="text" name="jun_{{ user.id }}_achieved" ng-model="achievedMonthTarget['jun_'+user.id+'_achieved']" ng-blur="update_achieved_target('jun_'+user.id+'_achieved',user.id,'Jun')" />
			            	<span>|</span>
			            	<input type="text" name="jun_{{ user.id }}" ng-model="monthTarget['jun_'+user.id]" ng-blur="update_target('jun_'+user.id,user.id,'Jun')" />
			            </td>
			            <td>
			            	<input type="text" ng-model="monthwiseAchievedTarget['jun_total_achieve']" disabled />
			            	<span>|</span>
			            	<input type="text" ng-model="monthwiseTarget['jun_total']" disabled />
			            </td>
		          	</tr>
		          	<tr>
			            <td>Jul</td>
			            <td ng-repeat="user in users">
			            	<input type="text" name="jul_{{ user.id }}_achieved" ng-model="achievedMonthTarget['jul_'+user.id+'_achieved']" ng-blur="update_achieved_target('jul_'+user.id+'_achieved',user.id,'Jul')" />
			            	<span>|</span>
			            	<input type="text" name="jul_{{ user.id }}" ng-model="monthTarget['jul_'+user.id]" ng-blur="update_target('jul_'+user.id,user.id,'Jul')" />
			            </td>
			            <td>
			            	<input type="text" ng-model="monthwiseAchievedTarget['jul_total_achieve']" disabled />
			            	<span>|</span>
			            	<input type="text" ng-model="monthwiseTarget['jul_total']" disabled />
			            </td>
		          	</tr>
		          	<tr>
			            <td>Aug</td>
			            <td ng-repeat="user in users">
			            	<input type="text" name="aug_{{ user.id }}_achieved" ng-model="achievedMonthTarget['aug_'+user.id+'_achieved']" ng-blur="update_achieved_target('aug_'+user.id+'_achieved',user.id,'Aug')" />
			            	<span>|</span>
			            	<input type="text" name="aug_{{ user.id }}" ng-model="monthTarget['aug_'+user.id]" ng-blur="update_target('aug_'+user.id,user.id,'Aug')" />
			            </td>
			            <td>
			            	<input type="text" ng-model="monthwiseAchievedTarget['aug_total_achieve']" disabled />
			            	<span>|</span>
			            	<input type="text" ng-model="monthwiseTarget['aug_total']" disabled />
			            </td>
		          	</tr>
		          	<tr>
			            <td>Sep</td>
			            <td ng-repeat="user in users">
			            	<input type="text" name="sep_{{ user.id }}_achieved" ng-model="achievedMonthTarget['sep_'+user.id+'_achieved']" ng-blur="update_achieved_target('sep_'+user.id+'_achieved',user.id,'Sep')" />
			            	<span>|</span>
			            	<input type="text" name="sep_{{ user.id }}" ng-model="monthTarget['sep_'+user.id]" ng-blur="update_target('sep_'+user.id,user.id,'Sep')" />
			            </td>
			            <td>
			            	<input type="text" ng-model="monthwiseAchievedTarget['sep_total_achieve']" disabled />
			            	<span>|</span>
			            	<input type="text" ng-model="monthwiseTarget['sep_total']" disabled />
			            </td>
		          	</tr>
		          	<tr>
			            <td>Oct</td>
			            <td ng-repeat="user in users">
			            	<input type="text" name="oct_{{ user.id }}_achieved" ng-model="achievedMonthTarget['oct_'+user.id+'_achieved']" ng-blur="update_achieved_target('oct_'+user.id+'_achieved',user.id,'Oct')" />
			            	<span>|</span>
			            	<input type="text" name="oct_{{ user.id }}" ng-model="monthTarget['oct_'+user.id]" ng-blur="update_target('oct_'+user.id,user.id,'Oct')" />
			            </td>
			            <td>
			            	<input type="text" ng-model="monthwiseAchievedTarget['oct_total_achieve']" disabled />
			            	<span>|</span>
			            	<input type="text" ng-model="monthwiseTarget['oct_total']" disabled />
			            </td>
		          	</tr>
		          	<tr>
			            <td>Nov</td>
			            <td ng-repeat="user in users">
			            	<input type="text" name="nov_{{ user.id }}_achieved" ng-model="achievedMonthTarget['nov_'+user.id+'_achieved']" ng-blur="update_achieved_target('nov_'+user.id+'_achieved',user.id,'Nov')" />
			            	<span>|</span>
			            	<input type="text" name="nov_{{ user.id }}" ng-model="monthTarget['nov_'+user.id]" ng-blur="update_target('nov_'+user.id,user.id,'Nov')" />
			            </td>
			            <td>
			            	<input type="text" ng-model="monthwiseAchievedTarget['nov_total_achieve']" disabled />
			            	<span>|</span>
			            	<input type="text" ng-model="monthwiseTarget['nov_total']" disabled />
			            </td>
		          	</tr>
		          	<tr>
			            <td>Dec</td>
			            <td ng-repeat="user in users">
			            	<input type="text" name="dec_{{ user.id }}_achieved" ng-model="achievedMonthTarget['dec_'+user.id+'_achieved']" ng-blur="update_achieved_target('dec_'+user.id+'_achieved',user.id,'Dec')" />
			            	<span>|</span>
			            	<input type="text" name="dec_{{ user.id }}" ng-model="monthTarget['dec_'+user.id]" ng-blur="update_target('dec_'+user.id,user.id,'Dec')" />
			            </td>
			            <td>
			            	<input type="text" ng-model="monthwiseAchievedTarget['dec_total_achieve']" disabled />
			            	<span>|</span>
			            	<input type="text" ng-model="monthwiseTarget['dec_total']" disabled />
			            </td>
		          	</tr>
		        </tbody>
	
				<tfoot>
		          	<tr>
						<th>Total</th>
						<th ng-repeat="user in users">
							
							<span class="text">{{ monthAchievedTargetTotal['total_'+user.id] || 0 }}</span>
							<span>|</span>
							<span class="text">{{ monthTargetTotal['total_'+user.id] || 0 }}</span>

						</th>
						<th>
							<a class=" modal-action waves-effect waves-green btn" ng-click="refreshTargets()">Submit</a>
						</th>
						
		          	</tr>

		          	<tr>
						<th>&nbsp;</th>
						<th ng-repeat="user in users">
							
							<span class="text" style="text-align: center !important; float: none;">{{ percentageTotal['total_'+user.id] || 0 }} %</span>
							

						</th>
						
		          	</tr>
		          
		        </tfoot>

		    </table>


		</div>
	</div>
</div>





<div id="add_target_hit" class="modal modal_md modal-fixed-footer">
	    <div class="modal-content modal-content-pad">
	      <h4 class="modal-header">Add/Edit Target Hit</h4>
	
			<input id="id" ng-model="leadData.id" type="hidden">
			
			<div class="row margin-bottom-7">
				<div class="input-field col l12">
					<select id="bd_rep" class="browser-default" ng-model="leadData.bd_rep">
					    <option value="" disabled selected>BD Rep</option>
					    <option value="{{ user.email }}" ng-repeat="user in users">{{ user.name }}</option>
					</select>
				</div>
			</div>
	      	
	      	<div class="row margin-bottom-7">
				<div class="input-field col l12">
					<select id="company_name" class="browser-default" ng-model="leadData.company_name">
					    <option value="" disabled selected>Company</option>
					    <option value="{{ company.name }}" ng-repeat="company in companies">{{ company.name }}</option>
					</select>
				</div>
			</div>

			<div class="row">
				
				<div class="input-field col l6">
					<input id="bdm_contribution" ng-model="leadData.bdm_contribution" type="text">
					<label for="bdm_contribution">BDM Contribution</label>
				</div>
				
				<div class="input-field col l6">
					<input id="director_contribution" ng-model="leadData.director_contribution" type="text">
					<label for="director_contribution">Director Contribution</label>
				</div>

			</div>
			

	    </div>

	    <div class="modal-footer">
		<a class=" modal-action waves-effect waves-green btn" ng-click="saveTargetHit()">Save</a>
	      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>