<div>
	<div id="inputCal"></div>
<div class="card-panel z-depth-0 filter-card">

		<div class="card small padding-bottom-10">
			<div class="row margin-bottom-0">
				<div class="input-field col l1">
					<select ng-model="sales_stage_filter" class="browser-default margin-top-5">
						<option value="" selected>Select</option>
						<option value="c0">C0</option>
						<option value="c1">C1</option>
						<option value="c2">C2</option>
						<option value="c3">C3</option>
						<option value="wishlist">Wishlist</option>
						<!-- <option value="Won">Won</option> -->
				    </select>
				    <label class="active">Sales Stage</label>
				</div>
				<div class="input-field col l2">
					<select ng-model="spoc_filter" class="browser-default margin-top-5">
						<option value="" selected>Select</option>
						<option value="DM">Dilip Murkute</option>
						<option value="LV">Leejohn Vaz</option>
						<option value="NS">Neermohi Shah</option>
						<option value="RK">Raghav Kapoor</option>
						<option value="RD">Rahul Doshi</option>
						<option value="RV">Rushabh Vora</option>
						<option value="SV">Sahil Vora</option>
						<option value="SG">Saarang Ganapathi</option>
						<option value="KL">Kunal Lala</option>
						<option value="NJ">Nishtha Jain</option>
						<option value="KM">Kaivalya Mehta</option>
						<option value="AM">Ankit Maheswari</option>
						<option value="MS">Milap Shah</option>
				    </select>
				    <label class="active">Lead Owner</label>
				</div>
				<div class="input-field col l1">
					<select ng-model="client_type_filter" class="browser-default margin-top-5">
						<option value="" selected>Select</option>
						<option value="existing_client">Existing Client</option>
						<option value="new_client">New Client</option>
						<!-- <option value="Won">Won</option> -->
				    </select>
				    <label class="active">Client Type</label>
				</div>
				
				<!-- <div class="input-field col l2">
					<select ng-model="city_filter" class="browser-default margin-top-5">
						<option value="" selected>Select</option>
						<option value="{{ city.name }}" ng-repeat="city in cities">{{ city.name }}</option> -->
						<!-- <option value="Mumbai">Mumbai</option>
						<option value="Bangalore">Bangalore</option>
						<option value="Delhi">Delhi</option> -->
				   <!--  </select>
				    <label class="active">City</label>
				</div> -->

				<!-- <div class="input-field col l2">
					<select ng-model="industry_filter" class="browser-default margin-top-5">
						<option value="" selected>Select</option>
						<option value="Corporate Offices">Corporate Offices</option>
						<option value="Developers">Developers</option>
						<option value="Education">Education</option>
						<option value="F&B, Retail, Hospitality">F&B, Retail, Hospitality</option>
						<option value="Financial Services">Financial Services</option>
						<option value="Industrial">Industrial</option>
						<option value="Infrastructure">Infrastructure</option>
						<option value="Residential Society">Residential Society</option>
				    </select>
				    <label class="active">Industry</label>
				</div> -->

				<!-- <div class="input-field col l2">
					<select ng-model="division_filter" class="browser-default margin-top-5">
						<option value="" selected>Select</option>
						<option value="Facility Management">Facility Management</option>
						<option value="Projects">Projects</option>
						<option value="Advisory">Advisory</option>
						<option value="Homecare">Mr. Homecare</option>
						<option value="Envocare">Pest Control (Envocare)</option>
				    </select>
				    <label class="active">Division</label>
				</div> -->
					
				<!-- <div class="input-field col l2">
					<select ng-model="relevant_filter" class="browser-default margin-top-5">
						<option value="" disabled selected>Select</option>
						<option value="Facility Management">Facility Management</option>
						<option value="Projects">Projects</option>
						<option value="Advisory">Advisory</option>
						<option value="Homecare">Mr. Homecare</option>
						<option value="Envocare">Pest Control (Envocare)</option>
				    </select>
				    <label class="active">Relevant for</label>
				</div> -->

				<!-- <div class="input-field col l2">
					<select ng-model="probability_range_filter" class="browser-default margin-top-5">
						<option value="" selected>Select</option>
						<option value="1">0-25%</option>
						<option value="2">25-65%</option>
						<option value="3">65-100%</option>
				    </select>
				    <label class="active">Probability Range</label>
				</div> -->

				<!-- <div class="input-field col l2">
					<select ng-model="type_filter" class="browser-default margin-top-5" ng-change="keyword=''">
				      <option value="" selected>Select</option>
				      <option value="company_name">Company Name</option>
				      <option value="company_poc">Company POC</option>
				      <option value="company_poc_email">Company Email</option>
				      <option value="company_poc_mobile">Company Mobile</option>
				    </select>
				    <label class="active">Type</label>
				</div> -->
				<!-- <div class="input-field col l3">
					<input type="text" id="keyword" ng-model="keyword" class="margin-top-5">
					<label class="active" for="keyword">Keyword</label>
				</div> -->
				<!-- <div class="input-field col l2">
					<input type="date" ng-model="from_date" class="mydatepicker margin-top-5">
					<label for="from_date" class="active">Inquiry From</label>
				</div> -->
				<!-- <div class="input-field col l2">
					<input type="date" ng-model="to_date" class="mydatepicker margin-top-5">
					<label for="to_date" class="active">Inquiry To</label>
				</div> -->
				<div class="input-field col l1">
					<button class="waves-effect waves-light grey btn margin-top-5" ng-click="searchLeads(1)">
						<i class="material-icons left">search</i>
					</button>
				</div>
				<div class="input-field col l2">&nbsp;</div>
				<div class="input-field col l1">
					<p><strong style="font-weight: 600;">C0:</strong> {{ c0_total }}</p>
				</div>
				<div class="input-field col l1">
					<p><strong style="font-weight: 600;">C1:</strong>  {{ c1_total }}</p>
				</div>
				<div class="input-field col l1">
					<p><strong style="font-weight: 600;">C2:</strong>  {{ c2_total }}</p>
				</div>
				<div class="input-field col l1">
					<p><strong style="font-weight: 600;">C3:</strong>  {{ c3_total }}</p>
				</div>
			</div>
	</div>
</div>

<div ng-show="loading" class="loading"><img src="img/hourglass.gif" width="80" height="80" />LOADING...</div>
<div>

<div class="row">
	
	<div class="col s12 m4" style="margin-bottom: 15px;" ng-repeat="lead in lead_data track by $index" ng-click="setLeadIndex($index)">
        <div class="card mycard" style="background-color: {{ lead.client_type == 'existing_client' ? '#f1f1f1' : '#FFFFFF';  }}">
          <div class="card-content">
            <span ng-if="lead.company_name.length<=15" class="card-title tooltipped" data-position="top" data-tooltip="{{ lead.company_name }}" style="display: inline-block; font-weight: 600; line-height: 13px; margin-bottom: 5px; font-size: 13px; width: 40%;">{{ lead.company_name }}</span>
            <span ng-else class="card-title tooltipped" data-position="top" data-tooltip="{{ lead.company_name }}" style="display: inline-block; font-weight: 600; line-height: 13px; margin-bottom: 5px; font-size: 13px; width: 40%;">{{ lead.company_name_new }}</span>
            <span style="float: right; margin-top: 0px; font-size: 12px;"><strong style="font-weight: 600;">Lead Added On:</strong> {{ lead.created_date }}</span>
            <span style="float: right; margin-top: -3px; font-size: 12px; width: 50%; text-align: right;"><strong style="font-weight: 600;">Reminder:</strong> 
            <a ng-if="lead.reminder" class="modal-trigger" data-target="add_reminder" ng-click="setLeadId(lead._id,$index)" modal><strong>{{ lead.reminder_date }}</strong></a>
            <a ng-else class="modal-trigger" data-target="add_reminder" ng-click="setLeadId(lead._id)" modal><i class="material-icons">alarm_on</i></a>
            </span>
            <p style="margin-bottom: 5px;  font-size: 12px;"><strong style="font-weight: 600;">Lead Owner: </strong> {{ lead.spoc }}</p>
            <div class="row" style="margin-bottom: 0px;">
              <div class="col s12 m3">
                <p style="font-size: 12px;"><strong style="font-weight: 600;">C0:</strong> <span>{{ lead.c0_value || 0 }}</span></p>
              </div>
              <div class="col s12 m3">
                <p style="font-size: 12px;"><strong style="font-weight: 600;">C1:</strong> <span>{{ lead.c1_value || 0 }}</p>
              </div>
              <div class="col s12 m3">
                <p style="font-size: 12px;"><strong style="font-weight: 600;">C2:</strong> <span>{{ lead.c2_value || 0 }}</p>
              </div>
              <div class="col s12 m3">
                <p style="font-size: 12px;"><strong style="font-weight: 600;">C3:</strong> <span>{{ lead.c3_value || 0 }}</p>
              </div>
            </div>
            <div class="row" style="margin-bottom: 0px;">
               <div class="col s12 m12">
                <a href="#" ng-click="edit_lead(lead._id)" class="waves-effect waves-light btn"><i class="material-icons left">mode_edit</i></a>
                <a class="waves-effect waves-light btn red" ng-click="deleteLeadData(lead._id)"><i class="material-icons left">delete</i></a>
                <a class="waves-effect waves-light btn blue" ng-click="show_company_details($index)"><i class="material-icons">assignment</i></a>

                <a ng-click="edit_won_lead(lead._id)" class="waves-effect waves-light btn green darken-4 right"><i class="material-icons right">done</i></a>
                <a ng-click="edit_lost_lead(lead._id)" class="waves-effect waves-light btn grey darken-3 right"><i class="material-icons right">highlight_off</i></a>
               </div>
            </div>
          </div>
        </div>
    </div>

</div>


		<div ng-show="hasMoreData==true&&loading==false" class="loading"><button ng-click="show_more_data()" class="btn waves-effect waves-light blue">LOAD MORE DATA</button></div>

	<div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
        <a class="btn-floating btn-large red" data-target="add_lead" data-position="left" data-delay="50" data-tooltip="Add Lead" modal>
          <i class="material-icons">add</i>
        </a>
    </div>

    <div id="add_reminder" class="modal modal_md">
	    <div class="modal-content">
			<div class="row">
				<div class="input-field col l10">
					<input input-date id="reminder" type="text" ng-model="reminder" container="#inputCal" format="yyyy-mm-dd" select-years="15" >
					<label for="reminder">Reminder Date</label>
				</div>
				<div class="input-field col l2">
					<a class=" modal-action modal-close waves-effect waves-green btn" ng-click="updateReminder()">Ok</a>
				</div>
			</div>
	    </div>
	  </div>

	<div id="company_details_modal" class="modal modal_md">
	    <div class="modal-content">
	    	<div class="row margin-bottom-10">
				<div class="col l12 work-order-tbl">
					<table>
						<thead>
							<th>Company Details</th>
						</thead>
						<tbody>
							<tr>
								<td>Company Name</td>
								<td>{{ company_details.company_name }}</td>
							</tr>
							<tr>
								<td>Company POC</td>
								<td>{{ company_details.company_poc }}</td>
							</tr>
							<tr>
								<td>Company POC Mobile No.</td>
								<td>{{ company_details.company_poc_mobile }}</td>
							</tr>
							<tr>
								<td>Company POC Email</td>
								<td>{{ company_details.company_poc_email }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
	    </div>
	    <div class="modal-footer">
			<a class=" modal-action modal-close waves-effect waves-grey btn-flat">Close</a>
	    </div>
	</div>

	<div id="documents_modal" class="modal modal_md">
	    <div class="modal-content">
	    	<div class="row margin-bottom-10">
				<div class="col l12">
					<table>
						<thead>
							<th>Lead Documents</th>
						</thead>
						<tbody>
							<tr ng-if="lead_documents.cost_schedule">
								<td>
									<strong>Cost Schedule:</strong> <br />
									<a href="http://engine.silagroup.co.in/api/cost_schedule/{{ lead_documents.cost_schedule }}" target="_blank">{{ lead_documents.cost_schedule }}</a>
								</td>
							</tr>
							<tr ng-if="lead_documents.work_order">
								<td>
									<strong>Work Order:</strong> <br />
									<a href="http://engine.silagroup.co.in/api/work_order/{{ lead_documents.work_order }}" target="_blank">{{ lead_documents.work_order }}</a>
								</td>
							</tr>
							<tr ng-if="lead_documents.contract_doc">
								<td>
									<strong>Contract:</strong> <br />
									<a href="http://engine.silagroup.co.in/api/contract_doc/{{ lead_documents.contract_doc }}" target="_blank">{{ lead_documents.contract_doc }}</a>
								</td>
							</tr>
							<tr ng-if="lead_documents.has_documents == 0">
								<td>
									No documents found.
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
	    </div>
	    <div class="modal-footer">
			<a class=" modal-action modal-close waves-effect waves-grey btn-flat">Close</a>
	    </div>
	</div>


    <div id="update_remark" class="modal modal_md">
	    <div class="modal-content">
	    	<div class="row margin-bottom-10" ng-show="crm_remark_arr.length > 0">
				<div class="col l12 work-order-tbl">
					<table>
						<thead>
							<th>Date</th>
							<th style="width: 50%;">Remark</th>
							<th>Updated By</th>
							<th>Add to WO</th>
						</thead>
						<tbody>
							<tr ng-repeat="cr in crm_remark_arr">
								<td>{{ cr.added_on | date:'dd MMM yyyy' }}</td>
								<td>{{ cr.remark }}</td>
								<td>{{ cr.added_by }}</td>
								<td>
									<select dynamic-model="'select_option' + cr._id" class="browser-default new-select-css" ng-change="updateServiceRemarkStatus($index,select_option);">
									    <option>Select</option>
									    <option value="1" ng-selected="cr.show==1">Yes</option>
									    <option value="0" ng-selected="cr.show==0">No</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="input-field col l12">
					<textarea rows="2" ng-model="additional_notes" class="materialize-textarea"></textarea>
					<label for="additional_notes">Additional Notes</label>
				</div>
			</div>
	    </div>
	    <div class="modal-footer">
			<a class=" modal-action waves-effect waves-green btn" ng-click="updateLeadServiceRemark()">Update</a>
			<a class=" modal-action modal-close waves-effect waves-grey btn-flat">Close</a>
	    </div>
	</div>


<div id="show_lead_stage_modal" class="modal">
	    <div class="modal-content">
	      <h4>{{ service_lead_stage.service_name }}</h4>

	      <div class="collection">
		    <a href="#!" ng-repeat="ls in service_lead_stage.lead_history | orderBy: '-updated_on'" class="collection-item">

		    	<span class="badge {{ lead_stage_color[lead_stage_options[ls.lead_stage]] }}">
		    		{{ lead_stage_options[ls.lead_stage] }}
		    	</span>
		    	<strong class="black-text">{{ ls.updated_on | date:'dd MMMM yyyy' }} at {{ ls.updated_on | date:'h:m a'}} : </strong>{{ lead_stage_remark_options[ls.lead_remark] }} - <strong class="black-text">{{ ls.updated_by }}</strong>
		    </a>
		  </div>


	    </div>
	    <div class="modal-footer">
	      <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>


<!-- 	<div id="show_invoice" class="modal modal_lg">
	    <div class="modal-content">

	    </div>
	    <div class="modal-footer">
	      <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>
 -->

<div ng-controller="ClientController">

<div id="add_lead_modal" class="modal modal_sm">
	    <div class="modal-content">
		<div class="row">
			<div class="input-field col l12">
				<input id="mobile_no" input-field type="text" ng-model="searchVal" ng-change="searchClient()">
				<label for="mobile_no">Enter Mobile Number</label>
			</div>
			<div class="col l12">

				<table class="bordered" id="filter_client">
					<thead>
					  <tr>

					      <th>Client Name</th>
					      <th>Client Mobile No. {{ clients.length }}</th>
					  </tr>
					</thead>

					<tbody>
					  <tr ng-repeat="client in clients" ng-click="getClientInfo(client)">

					    <td>{{ client.firstname }} {{ client.lastname }}</td>
					    <td>{{ client.primary_contact_no }}</td>
					  </tr>
					  <!-- <tr>
					    <td>
						<input name="phone_group[]" type="checkbox" id="check2" value="3478" />
						<label for="check2"></label>
					    </td>
					    <td>Aasheesh Dwivedi</td>
					    <td>9089876543</td>
					  </tr>
					  <tr>
					    <td>
						<input name="phone_group[]" type="checkbox" id="check3" value="3489" />
						<label for="check3"></label>
					    </td>
					    <td>Tanveer Khan</td>
					    <td>9768328844</td>
					  </tr> -->
					</tbody>
				      </table>

				<table class="bordered" id="create_client">
					<tr>
						<td>Not found, <a class="cursor-pointer" id="cr_client" data-target="add_user_modal" modal>create</a></td>
					</tr>
				</table>

			</div>
		</div>
	    </div>
	    <div class="modal-footer">
		<!-- <a class=" modal-action waves-effect waves-green btn" ng-click="getAllClients();">Ok</a> -->
		<a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	  </div>

	  <div id="select_address" class="modal modal_md modal-fixed-footer">
	    <div class="modal-content">
	    	<div ng-show="isNewAddress">
			<h5>Add Address</h5>
			<div class="row margin-bottom-5">
				<div class="input-field col l12">
					<textarea id="client_address" ng-model="address" class="materialize-textarea"></textarea>
					<label for="client_address">Enter your address</label>
				</div>
			</div>
		    <div class="row margin-bottom-5">
				<div class="input-field col l6">
					<input id="landmark" ng-model="landmark" type="text">
					<label for="landmark">Enter your landmark</label>
				</div>
				<div class="input-field col l6">
					<select id="city" ng-model="city">
					    <option value="" disabled selected>Select</option>
					    <option value="1">Mumbai</option>
					    <option value="2">Bangalore</option>
					    <option value="3">New Delhi</option>
						<option value="11">Pune</option>
					</select>
					<label for="city">City</label>
				</div>
			</div>
			<div class="row center margin-bottom-5">
				<div class="input-field col l12">
					<button class="waves-effect waves-light btn" ng-click="saveAddress()">Save</button>
					<button class="waves-effect waves-light btn grey" ng-click="cancelAddAddress()">Cancel</button>
				</div>
			</div>
			</div>
			<div class="row margin-bottom-5" ng-hide="isNewAddress">
				<div class="col l12">

					<table class="bordered">
						<thead>
						  <tr>
						      <th>
						      	Select Address
						      	<button class="waves-effect waves-light btn right" ng-click="addNewAddress()">Add Address</button>
						      </th>
						  </tr>
						</thead>
						<tbody>
							<tr ng-repeat="ad in addresses">
							    <td>
								<input name="address_group" type="radio" id="{{ad._id}}" value="{{ad._id}}" ng-click="setAddress(ad)" />
								<label for="{{ad._id}}">{{ad.address}} ,{{ad.landmark}}, {{  cities[ad.city]}}</label>
							    </td>
							  </tr>
						</tbody>
					</table>

				</div>
			</div>
	    </div>
	    <div class="modal-footer">
		<a class=" modal-action waves-effect waves-green btn" ng-click="addEditLead()">Ok</a>
		<a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	  </div>


	 <div id="add_user_modal" class="modal modal_md modal-fixed-footer">
	    <div class="modal-content">
	      <h4>Add new user</h4>

	      <div class="row">
			<div class="input-field col l6">
				<input id="client_firstname" ng-model="firstname" type="text" tabindex="1">
				<label for="client_firstname">Enter First Name</label>
			</div>
			<div class="input-field col l6">
				<input id="client_lastname" ng-model="lastname" type="text" tabindex="2">
				<label for="client_lastname">Enter Last Name</label>
			</div>
		</div>
	      <div class="row">
			<div class="input-field col l6">
				<input id="client_mobile_no" ng-model="primary_contact_no" type="text" tabindex="3" value="{{ searchVal }}">
				<label for="client_mobile_no">Enter Mobile Number</label>
			</div>
			<div class="input-field col l6">
				<input id="client_email_id" ng-model="primary_email_id" type="email" tabindex="4" class = "form-control" invalid-message="'Thats not a real email address'" required-message="'Yo this is required'" validate-on="blur" required>
				<label for="client_email_id">Enter Email Id</label>
			</div>
		</div>

		<!-- <div class="row">
			<div class="input-field col l12">
				<textarea id="client_address" ng-model="address" class="materialize-textarea"></textarea>
				<label for="client_address">Enter your address</label>
			</div>
		</div> -->
	      <div class="row">
			<!-- <div class="input-field col l6">
				<input id="landmark" ng-model="landmark" type="text">
				<label for="landmark">Enter your landmark</label>
			</div> -->
			<div class="input-field col l6">
				<select id="city" class="browser-default" ng-model="client_city" tabindex="5">
				    <option value="" disabled selected>City</option>
				    <option value="{{ key }}" ng-repeat="(key,value) in cities">{{ value }}</option>
				</select>
				<!-- <label for="city">City</label> -->
			</div>
		</div>

	    </div>
	    <div class="modal-footer">
		<a class=" modal-action waves-effect waves-green btn" ng-click="saveClient()" tabindex="6">Create</a>
	      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>



</div>

	<div id="update_lead_details" class="modal modal_md modal-fixed-footer">
	    <div class="modal-content">
	      <h4 class="modal-header">Update Lead Details</h4>
	
	      	<div class="row">
				<div class="input-field col l12">
					<input id="contract_value" ng-model="leadDetails.contract_value" type="text">
					<label for="contract_value">Contract Value</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col l12">
					<input id="contract_start_date" ng-model="leadDetails.contract_start_date" class="mydatepicker" type="text">
					<label for="contract_start_date">Contract Start Date</label>
				</div>
			</div>
	
			<div class="row">
				<div class="input-field col l12">
					<input id="contract_reminder" ng-model="leadDetails.contract_reminder" class="mydatepicker" type="text">
					<label for="contract_reminder">Contract Renewal Reminder</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col l12">
					<input id="work_order" type="file" class="margin-top-5">
					<label for="work_order" class="active">Work Order</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col l12">
					<input id="contract_doc" type="file" class="margin-top-5">
					<label for="contract_doc" class="active">Contract</label>
				</div>
			</div>

	    </div>

	    <div class="modal-footer">
		<a class=" modal-action waves-effect waves-green btn" ng-click="saveLeadDetails()">Save</a>
	      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>

	<div id="update_lead_details_partial" class="modal modal_md modal-fixed-footer">
	    <div class="modal-content">
	      <h4 class="modal-header">Update Lead Details</h4>
	
	      	<div class="row">
				<div class="input-field col l12">
					<input id="contract_value" ng-model="leadDetails.contract_value" type="text">
					<label for="contract_value">Contract Value</label>
				</div>
			</div>
	
			<div class="row">
				<div class="input-field col l12">
					<input id="start_date" ng-model="leadDetails.start_date" class="mydatepicker" type="text">
					<label for="start_date">Start Date</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col l12">
					<input id="work_order_partial" type="file" class="margin-top-5">
					<label for="work_order_partial" class="active">Work Order</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col l12">
					<input id="contract_partial_doc" type="file" class="margin-top-5">
					<label for="contract_partial_doc" class="active">Contract</label>
				</div>
			</div>

	    </div>

	    <div class="modal-footer">
		<a class=" modal-action waves-effect waves-green btn" ng-click="saveLeadDetailsPartial()">Save</a>
	      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>

	<div id="update_lead_details_lost" class="modal modal_md modal-fixed-footer">
	    <div class="modal-content">
	      <h4 class="modal-header">Update Lead Details</h4>
	
			<div class="row">
				<div class="input-field col l12">
					<input id="reminder_lost" ng-model="leadDetails.reminder_lost" class="mydatepicker" type="text">
					<label for="reminder_lost">Reminder</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col l12">
					<select ng-model="leadDetails.reason" class="browser-default margin-top-5" ng-change="otherRemarks(leadDetails.reason)">
						<option value="" disabled selected>Reason</option>
						<option value="1">Going to competitor</option>
						<option value="2">Too Expensive</option>
						<option value="3">Lead just gone cold</option>
						<option value="4">Waiting for the response</option>
						<option value="5">Other</option>
				    </select>
				</div>
			</div>

			<div class="row" ng-show="show_remarks">
				<div class="input-field col l12">
					<textarea id="other_reason" ng-model="leadDetails.other_reason" class="materialize-textarea"></textarea>
					<label for="other_reason">Other Reason</label>
				</div>
			</div>

			<!-- <div class="row">
				<div class="input-field col l12">
					<input id="work_order_partial" type="file" class="margin-top-5">
					<label for="work_order_partial" class="active">Work Order</label>
				</div>
			</div> -->

	    </div>

	    <div class="modal-footer">
		<a class=" modal-action waves-effect waves-green btn" ng-click="saveLeadDetailsLost()">Save</a>
	      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>


	<div id="add_lead" class="modal modal_md modal-fixed-footer">
	    <div class="modal-content modal-content-pad">
	      <h4 class="modal-header">Add Lead</h4>
	
			<input id="id" ng-model="leadData.id" type="hidden">

	      	<div class="row margin-bottom-7 ">
				<div class="input-field col l6">
					<input id="company_name" ng-model="leadData.company_name" type="text">
					<label for="company_name">Company Name</label>
				</div>
				<div class="input-field col l6">
					<input id="company_poc" ng-model="leadData.company_poc" type="text">
					<label for="company_poc">Company POC</label>
				</div>
			</div>

			<div class="row margin-bottom-7">
				<div class="input-field col l6">
					<input id="company_poc_email" ng-model="leadData.company_poc_email" type="text">
					<label for="company_poc_email">Company POC Email</label>
				</div>
				<div class="input-field col l6">
					<input id="company_poc_mobile" ng-model="leadData.company_poc_mobile" type="text">
					<label for="company_poc_mobile">Company POC Mobile</label>
				</div>
			</div>
	
			<div class="row margin-bottom-7">
				<div class="input-field input-group col l6">
				    <input id="spoc" ng-model="lead_owners" type="text" readonly>
					<label for="spoc">Lead Owner</label>
					<span class="suffix">
	                    <a class="btn btn-floating waves-effect waves-light red" data-backdrop="static" data-keyboard="false"  data-target="demoModal" modal>+</a>
	                </span>
				</div>
				<div class="input-field col l6">
					<select ng-model="leadData.city" class="browser-default margin-top-5">
						<option value="" disabled selected>City</option>
						<option value="{{ city.name }}" ng-repeat="city in cities">{{ city.name }}</option>
				    </select>
				</div>
			</div>
	      	
	      	<!-- <div class="row">
				<div class="input-field input-group col l6"> -->
					<!-- <select ng-model="leadData.spoc" id="spoc_list" class="margin-top-5" multiple>
						<option value="" disabled selected>Lead Owner</option>
						<option value="DM">Dilip Murkute</option>
						<option value="LV">Leejohn Vaz</option>
						<option value="NS">Neermohi Shah</option>
						<option value="RK">Raghav Kapoor</option>
						<option value="RD">Rahul Doshi</option>
						<option value="RV">Rushabh Vora</option>
						<option value="SV">Sahil Vora</option>
						<option value="SG">Saarang Ganapathi</option>
						<option value="KL">Kunal Lala</option>
						<option value="NJ">Nishtha Jain</option>
						<option value="KM">Kaivalya Mehta</option>
				    </select> -->
				    <!-- <input id="spoc" ng-model="lead_owners" type="text" readonly>
					<label for="spoc">Lead Owner</label>
					<span class="suffix">
	                    <a class="btn btn-floating waves-effect waves-light red" data-backdrop="static" data-keyboard="false"  data-target="demoModal" modal>+</a>
	                </span> -->
					<!-- <ul id="dropdown1" class="dropdown-content">
						<li><input type="checkbox" ng-click="selectLeadOwner()" value="DM" /> Dilip Murkute</li>
					</ul> -->
				<!-- </div>
				<div class="input-field col l6">
					<input id="email" ng-model="leadData.email" type="text">
					<label for="email">Email Id</label>
				</div>
			</div> -->

			<!-- <div class="row">
				<div class="input-field col l6">
					<select ng-model="leadData.relevant" class="browser-default margin-top-5">
						<option value="" disabled selected>Relevant for</option>
						<option value="Facility Management">Facility Management</option>
						<option value="Projects">Projects</option>
						<option value="Advisory">Advisory</option>
						<option value="Homecare">Mr. Homecare</option>
						<option value="Envocare">Pest Control (Envocare)</option>
				    </select>
				</div>
				<div class="input-field col l6">
					<input id="reference" ng-model="leadData.leadsource" type="text">
					<label for="reference">Lead Source</label>
				</div>
			</div> -->

			<div class="row">
				<div class="input-field col l6 margin-top-0">
					<select id="industry" class="browser-default" ng-model="leadData.industry">
					    <option value="" disabled selected>Industry</option>
					    <option value="Corporate Offices">Corporate Offices</option>
						<option value="Developers">Developers</option>
						<option value="Education">Education</option>
						<option value="F&B, Retail, Hospitality">F&B, Retail, Hospitality</option>
						<option value="Financial Services">Financial Services</option>
						<option value="Industrial">Industrial</option>
						<option value="Infrastructure">Infrastructure</option>
						<option value="Residential Society">Residential Society</option>
					</select>
				</div>
				<!-- <div class="input-field col l6 margin-top-0">
					<select id="sales_stage" class="browser-default" ng-model="leadData.sales_stage" ng-change="setDealSize(leadData.sales_stage)">
					    <option value="" disabled selected>Sales Stage</option>
						<option value="c0">C0</option>
						<option value="c1">C1</option>
						<option value="c2">C2</option>
						<option value="c3">C3</option>
						<option value="wishlist">Wishlist</option>
					</select>
				</div> -->
				
				<div class="input-field col l6 margin-top-0">
					<select id="client_type" class="browser-default" ng-model="leadData.client_type">
					    <option value="" disabled selected>Client Type</option>
						<option value="existing_client">Existing Client</option>
						<option value="new_client">New Client</option>
					</select>
				</div>

			</div>

			<div class="row">

				
				
				<!-- <div class="input-field col l6">
					
					<input class="with-gap" name="deal_type" type="radio" ng-model="leadData.deal_type" value="monthly" id="deal_type_monthly" ng-change="showValue()" />
    				<label for="deal_type_monthly">Monthly</label>

    				<input class="with-gap" name="deal_type" type="radio" ng-model="leadData.deal_type" value="onetime" id="deal_type_onetime" ng-change="showValue()" />
    				<label for="deal_type_onetime">One Time</label>

				</div> -->
				
				<div class="input-field col l6">
					<input id="c0" ng-model="leadData.c0_value" type="text">
					<label for="c0">C0</label>
				</div>

				<div class="input-field col l6">
					<input id="c1" ng-model="leadData.c1_value" type="text">
					<label for="c1">C1</label>
				</div>

			</div>
			
			<div class="row">
				<div class="input-field col l6">
					<input id="c2" ng-model="leadData.c2_value" type="text">
					<label for="c2">C2</label>
				</div>

				<div class="input-field col l6">
					<input id="c3" ng-model="leadData.c3_value" type="text">
					<label for="c3">C3</label>
				</div>				
			</div>

			<!-- <div class="row">
				<div class="input-field col l6">
					<input id="deal_size" ng-model="leadData.deal_size" ng-change="calculateAnnualDealSize(leadData.deal_size)" type="text">
					<label for="deal_size">Deal Size (Monthly)</label>
				</div>
				<div class="input-field col l6" ng-show="isMonthly">
					<input id="deal_size_annual" ng-model="leadData.deal_size_annual" type="text">
					<label for="deal_size_annual">Deal Size (Annual)</label>
				</div>
			</div> -->

			<!-- <div class="row margin-bottom-7">
				<div class="input-field col l6">
					<input id="probability" ng-model="leadData.probability" ng-change="calcWeight()" type="text">
					<label for="probability">Probability (%)</label>
				</div>
				<div class="input-field col l6">
					<input id="weighted" ng-model="leadData.weighted" type="text">
					<label for="weighted">Weighted</label>
				</div>
			</div>

			<div class="row margin-bottom-7">
				<div class="input-field col l12">
					<input id="gross_profit" ng-model="leadData.gross_profit" type="text">
					<label for="gross_profit">Approx. Gross Profit (%)</label>
				</div>
			</div>
 -->
			<!-- <div class="row" ng-show="isEnableDealSize">
				<div class="input-field col l12" ng-if="leadData.cost_schedule">
					<a href="http://engine.silagroup.co.in/api/cost_schedule/{{ leadData.cost_schedule }}">{{ leadData.cost_schedule }}</a>
					<input type="hidden" name="cost_schedule" value="{{ leadData.old_cost_schedule }}" ng-model="leadData.old_cost_schedule" />
				</div>
				<div class="input-field col l12">
					<input id="cost_schedule" type="file" class="margin-top-5" style="width: 100%;">
					<label for="cost_schedule" class="active">Cost Schedule</label>
				</div>
			</div> -->

			<!-- <div class="row margin-bottom-0">
				<div class="input-field col l12">
					<textarea id="remarks" rows="2" ng-model="leadData.remarks" class="materialize-textarea" ng-keypress="$event.stopPropagation()" ></textarea>
					<label for="remarks">Remarks</label>
				</div>
			</div> -->

			<!-- <div class="row">
				<div class="input-field col l12">
					<input id="target_date" ng-model="leadData.target_date" class="mydatepicker" type="text">
					<label for="target_date">Target Date</label>
				</div>
			</div>	 -->      

	    </div>

	    <div class="modal-footer">
		<a class=" modal-action waves-effect waves-green btn" ng-click="saveLeadData()">Save</a>
	      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>

	<div id="add_won_lead" class="modal modal_md modal-fixed-footer">
	    <div class="modal-content modal-content-pad">
	      <h4 class="modal-header">Won Lead</h4>
	
			<input id="id" ng-model="leadData.id" type="hidden">

	      	<div class="row margin-bottom-7 ">
				<div class="input-field col l12">
					<select id="company_name" class="browser-default" ng-model="leadData.company_name">
					    <option value="" disabled selected>Company</option>
					    <option value="{{ company.name }}" ng-repeat="company in companies">{{ company.name }}</option>
					</select>
				</div>
			</div>

			<div class="row">
				
				<div class="input-field col l12">
					<input id="c3" ng-model="leadData.c3_won_value" type="text">
					<label for="c3">C3 Value</label>
				</div>
				
			</div>
			
			<div class="row">
				
				<div class="input-field col l12">
					<input id="contract_renewal_date" ng-model="leadData.contract_renewal_date" class="mydatepicker" type="text">
					<label for="contract_renewal_date">Contract Renewal Date</label>
				</div>
						
			</div>


	    </div>

	    <div class="modal-footer">
		<a class=" modal-action waves-effect waves-green btn" ng-click="saveWonLeadData()">Save</a>
	      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>

	<div id="add_lost_lead" class="modal modal_md modal-fixed-footer">
	    <div class="modal-content modal-content-pad">
	      <h4 class="modal-header">Lost Lead</h4>
	
			<input id="id" ng-model="leadData.id" type="hidden">

	      	<div class="row margin-bottom-7 ">
				<div class="input-field col l12">
					<select id="company_name" class="browser-default" ng-model="leadData.company_name">
					    <option value="" disabled selected>Company</option>
					    <option value="{{ company.name }}" ng-repeat="company in companies">{{ company.name }}</option>
					</select>
				</div>
			</div>

			<div class="row margin-bottom-7">
				<div class="input-field col l12">
					<select ng-model="leadData.reason" class="browser-default margin-top-5" ng-change="otherRemarks(leadData.reason)">
						<option value="" disabled selected>Reason</option>
						<option value="1">Going to competitor</option>
						<option value="2">Too Expensive</option>
						<option value="3">Lead just gone cold</option>
						<option value="4">Waiting for the response</option>
						<option value="5">Other</option>
				    </select>
				</div>
			</div>

			<div class="row" ng-show="show_remarks">
				<div class="input-field col l12">
					<textarea id="other_reason" ng-model="leadData.other_reason" class="materialize-textarea"></textarea>
					<label for="other_reason">Other Reason</label>
				</div>
			</div>

			<div class="row">
				
				<div class="input-field col l12">
					<input id="next_follow_up_date" ng-model="leadData.next_follow_up_date" class="mydatepicker" type="text">
					<label for="next_follow_up_date">Next Followup Date</label>
				</div>
						
			</div>

			<div class="row">
				
				<div class="input-field col l12">
					<input id="lost_contract_value" ng-model="leadData.lost_contract_value" type="text">
					<label for="lost_contract_value">Potential Contact Value of Lost Lead</label>
				</div>
				
			</div>
			
			


	    </div>

	    <div class="modal-footer">
		<a class=" modal-action waves-effect waves-green btn" ng-click="saveLostLeadData()">Save</a>
	      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>

	<div id="view_all_amcs" class="modal modal-fixed-footer modal_lg">
	    <div class="modal-content">
			<div class="row">
				<div class="col l12">

					<table class="bordered">
						<thead>
						  <tr>
							<th>AMC No.</th>
							<th>Service Name</th>
							<th>Service Date</th>
							<th>Service Time</th>
							<th>Reschedule By</th>
							<th>Actions</th>
						  </tr>
						</thead>

						<tbody>
						  <tr ng-repeat="amc in amc_services" ng-class="amc.is_done==1 ? 'amc-done-bg-color' : ''">
						    <td>{{ amc.amc_label }}</td>
						    <td>{{ services_options[amc.service_id] }}</td>
						    <td>
						    	<span ng-repeat="asd in amc.service_date">
						    		<a class="modal-trigger" ng-click="setAMCServiceDate($index,amc._id,amc)" data-target="reschedule_amc_service" modal>{{ asd | date:'dd MMMM yyyy' }}</a>
						    		<!-- <span ng-show="amc.is_done">{{ asd | date:'dd MMMM yyyy' }}</span><br /> -->
						    	</span>
						    </td>
						    <td>
						    	<span ng-repeat="ast in amc.service_time">
						    		{{ ast | date:'HH:mm a' }}<br />
						    	</span>
						    </td>
						    <th>
						    	<span ng-if="amc.status==1">
						    		Client
						    	</span>
						    	<span ng-else>
						    		System
						    	</span>
						    </th>
						    <td>
						    	<span ng-show="amc.is_order==1 && amc.service_status!=3">
				            	<input name="amc_group" type="checkbox" id="confirm{{ amc._id }}" ng-click="confirmAMCService(amc._id)"  />
								<label for="confirm{{ amc._id }}" class="display-inline padding-top-3"></label>
								</span>
								<span ng-show="amc.service_status==3" ng-click="unconfirmAMCService(amc._id)"><img class="left display-inline margin-right-5 margin-top-neg-2" src="img/tick_circle.gif" /></span>
						    	<span ng-hide="amc.is_done"><a ng-click="deleteLeadAMCService(amc._id,$index,amc)"><img src="img/delete.png" /></a></span>
						    </td>
						  </tr>
						</tbody>
					      </table>

				</div>
			</div>
	    </div>
	    <div class="modal-footer">
		<a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>


	<div id="view_all_services" class="modal modal-fixed-footer modal_lg">
	    <div class="modal-content">

	    	<!-- <div class="row">
	    		<div class="col l12">
			    	<select ng-model="customer_invoice_type" ng-change="setCustomerInvoiceType(customer_invoice_type)" class="browser-default right" style="width: 200px;">
				      <option value="0" selected>Client</option>
				      <option value="1">Partner</option>
				    </select>
	    		</div>
	    	</div> -->

			<div class="row" ng-hide="isNextClick">
				<div class="col l12">

					<table class="bordered">
						<thead>
						  <tr>
							<th>
								<input name="service_group" type="checkbox" id="all" ng-click="checkAllServices()"  />
								<label for="all"></label>
							</th>
							<th>Service Name</th>
							<th>Service Date</th>
							<th>Service Time</th>
						  </tr>
						</thead>

						<tbody>
						  <tr ng-repeat="service_obj in services_obj | filter: { is_order: 1, status: 0 }">
						    <td>
						    	<input name="selectedService[]" ng-click="getCheckedValues()" type="checkbox" value="{{ service_obj._id }}" id="{{ service_obj._id }}"  />
								<label for="{{ service_obj._id }}"></label>
						    </td>
						    <td>{{ services_options[service_obj.service_id] }}</td>
						    <td>
						    	<span ng-repeat="sd in service_obj.service_date">
						    		{{ sd | date:'dd MMMM yyyy' }}<br />
						    	</span>
						    </td>
						    <td>
						    	<span ng-repeat="st in service_obj.service_time">
						    		{{ st | date:'HH:mm a' }}<br />
						    	</span>
						    </td>
						  </tr>
						</tbody>
					      </table>

				</div>
			</div>
			<div  ng-show="isNextClick">
		      <h4>Invoice | <a class="cursor-pointer" data-target="set_email_modal" modal><small class="font-size-14">{{ billing_name }} ({{ email }})</small></a></h4>

		      <div class="collection">
		      	<div id="invoice_html_content">
					{{ invoice_html_content }}
		      	</div>
			  </div>

			</div>

	    </div>
	    <div class="modal-footer">
		<a href="" class=" btn modal-action waves-effect waves-green" ng-show="isNextVisible" ng-hide="isNextEnabled" ng-click="getSelectedServices()">Next</a>
		<a href="" class="btn waves-effect waves-blue margin-left-10" ng-hide="isNextVisible" ng-click="exportInvoiceToPdf()">Export to PDF</a>
		<a href="" class="btn waves-effect waves-blue margin-left-10" ng-hide="isNextVisible" ng-click="sendInvoice()">Send</a>
		<a href="" class=" btn waves-effect waves-green" ng-hide="isNextVisible" ng-click="print()">Print</a>
		<a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>


	<div id="view_all_services_sms" class="modal modal-fixed-footer modal_lg">
	    <div class="modal-content">
			<div class="row" ng-hide="isNextClick">
				<div class="col l12">

					<table class="bordered">
						<thead>
						  <tr>
							<th>
								<input name="service_group" type="checkbox" id="all_sms" ng-click="checkAllServices()"  />
								<label for="all_sms"></label>
							</th>
							<th>Service Name</th>
							<th>Service Date</th>
							<th>Service Time</th>
						  </tr>
						</thead>

						<tbody>
						  <tr ng-repeat="service_obj in services_obj | filter: { is_order: 1 }">
						    <td>
						    	<input name="selectedService[]" ng-click="getCheckedValues()" type="checkbox" value="{{ service_obj._id }}" id="{{ service_obj._id }}_sms"  />
								<label for="{{ service_obj._id }}_sms"></label>
						    </td>
						    <td>{{ services_options[service_obj.service_id] }}</td>
						    <td>
						    	<span ng-repeat="sd in service_obj.service_date">
						    		{{ sd | date:'dd MMMM yyyy' }}<br />
						    	</span>
						    </td>
						    <td>
						    	<span ng-repeat="st in service_obj.service_time">
						    		{{ st | date:'HH:mm a' }}<br />
						    	</span>
						    </td>
						  </tr>
						</tbody>
					      </table>

				</div>
			</div>

	    </div>
	    <div class="modal-footer">
			<a href="" class=" btn waves-effect waves-green" ng-hide="isNextEnabled" ng-click="sendPaymentLink()">Send Payment Link</a>
			<a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>

	<div id="demoModal" class="modal modal-fixed-footer modal_lg">
	    <div class="modal-content">
			<div class="row">
				<div class="col l12">

					<table class="bordered my_tbl">
						<tbody>
						  <tr>
						    <td width="5%">
						    	<input name="selectedSpoc[]" type="checkbox" value="DM" id="dm_spoc"  />
								<label for="dm_spoc"></label>
						    </td>
						    <td>Dilip Murkute</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="LV" id="lv_spoc"  />
								<label for="lv_spoc"></label>
						    </td>
						    <td>LeeJohn Vaz</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="NS" id="ns_spoc"  />
								<label for="ns_spoc"></label>
						    </td>
						    <td>Neermohi Shah</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="RK" id="rk_spoc"  />
								<label for="rk_spoc"></label>
						    </td>
						    <td>Raghav Kapoor</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="RD" id="rd_spoc"  />
								<label for="rd_spoc"></label>
						    </td>
						    <td>Rahul Doshi</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="RV" id="rv_spoc"  />
								<label for="rv_spoc"></label>
						    </td>
						    <td>Rushabh Vora</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="SV" id="sv_spoc"  />
								<label for="sv_spoc"></label>
						    </td>
						    <td>Sahil Vora</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="SG" id="sg_spoc"  />
								<label for="sg_spoc"></label>
						    </td>
						    <td>Saarang Ganpathi</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="KL" id="kl_spoc"  />
								<label for="kl_spoc"></label>
						    </td>
						    <td>Kunal Lala</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="NJ" id="nj_spoc"  />
								<label for="nj_spoc"></label>
						    </td>
						    <td>Nishtha Jain</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="KM" id="km_spoc"  />
								<label for="km_spoc"></label>
						    </td>
						    <td>Kaivalya Mehta</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="AM" id="am_spoc"  />
								<label for="am_spoc"></label>
						    </td>
						    <td>Ankit Maheswari</td>
						  </tr>
						  <tr>
						    <td>
						    	<input name="selectedSpoc[]" type="checkbox" value="MS" id="ms_spoc"  />
								<label for="ms_spoc"></label>
						    </td>
						    <td>Milap Shah</td>
						  </tr>
						</tbody>
					      </table>

				</div>
			</div>

	    </div>
	    <div class="modal-footer">
			<a href="" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="getCheckedSPOCValues()" >OK</a>
	    </div>
	</div>


	  <div id="set_email_modal" class="modal modal_sm">
	    <div class="modal-content">
			<div class="row">
				<div class="input-field col l12">
					<input id="email" ng-model="email" type="text">
					<label for="email">Email Id</label>
				</div>
			</div>
	    </div>
	    <div class="modal-footer">
			<a class=" modal-action waves-effect waves-green btn" ng-click="setBillingDetails()">Ok</a>
	    </div>
	  </div>


	  <div id="reschedule_amc_service" class="modal modal_md">
	    <div class="modal-content">
			<div class="row">
				<div class="input-field col l6" ng-hide="checkStatus">
					<input type="text" name="service_date" class="mydatepicker" id="service_date" ng-model="amc_service_date" format="yyyy-mm-dd" />
					<label for="service_date">Service Date</label>
				</div>
				<div class="input-field col l6" ng-hide="checkStatus">
					<input id="service_time" ng-model="amc_service_time" data-autoclose="true" data-container="body" input-clock data-twelvehour="false" type="text">
					<label for="service_time">Service Time</label>
				</div>
				<div class="input-field col l6" ng-hide="checkStatus">
					<select id="amc_type" class="browser-default" ng-model="amc_type" tabindex="5">
					    <option value="" disabled selected>Select</option>
					    <option value="0" >Client</option>
					    <option value="1" >System</option>
					</select>
				</div>
			</div>
	    </div>
	    <div class="modal-footer">
			<a class=" modal-action waves-effect waves-green btn" ng-click="rescheduleAMCService()">Update</a>
	    </div>
	  </div>



	  <div id="reschedule_service" class="modal modal_md">
	    <div class="modal-content">
			<div class="row">
				<div class="input-field col l6" ng-hide="checkStatus">
					<input type="text" name="service_date" class="mydatepicker" id="service_date" ng-model="service_date" format="yyyy-mm-dd" />
					<label for="service_date">Service Date</label>
				</div>
				<div class="input-field col l6" ng-hide="checkStatus">
					<input id="service_time" ng-model="service_time" data-autoclose="true" data-container="body" input-clock data-twelvehour="false" type="text">
					<label for="service_time">Service Time</label>
				</div>
			</div>
	    </div>
	    <div class="modal-footer">
			<a class=" modal-action waves-effect waves-green btn" ng-click="rescheduleLeadService()">Update</a>
	    </div>
	  </div>



</div>

<script type="text/javascript">
		$(document).ready(function(){
			$('.collapsible').collapsible();
			$('.tooltipped').tooltip({delay: 50});
			$('select').material_select();
			$('.dropdown-trigger').dropdown();
			$('.mydatepicker').pickadate({
			    selectMonths: true, // Creates a dropdown to control month
			    selectYears: 15, // Creates a dropdown of 15 years to control year
			    format: 'yyyy-mm-dd',
			    onClose: function(){
			        $('.mydatepicker').blur();
			        $('.picker').blur();
			        $('.mydatepicker').stop();
				},
				container: '#datepicker_placeholder'
			});

			$(".btn-hide-search").click(function(){
				$(".filter-card").hide();
			});
			$(".btn-show-search").click(function(){
				$(".filter-card").show();
			});

			$('#mobile_no').on('blur',function(){
				$('.mydatepicker').blur();
		        $('.picker').blur();
		        $('.mydatepicker').stop();
			});

			$('#city').on('blur',function(){
				console.log("Leads");
				$("#client_firstname").focus();
				$('.mydatepicker').blur();
		        $('.picker').blur();
		        $('.mydatepicker').stop();
			});


			// $('#mobile_no').on('keyup',function(){

			// 	//console.log($(this).val());
			// 	$('#filter_client').fadeIn();
			// 	$("#filter_client td:nth-child(3):contains('" + $(this).val() + "')").parent().show();
			// 	$("#filter_client td:nth-child(3):not(:contains('" + $(this).val() + "'))").parent().hide();
			// 	if($("#filter_client td:nth-child(3):contains('" + $(this).val() + "')").length == 0) {
			// 		$('#filter_client').hide();
			// 		$('#create_client').fadeIn();
			// 	} else {
			// 		$('#create_client').hide();
			// 	}
			// });

			// $('#cr_client').click(function(){
			// 	$('#add_lead_modal').closeModal();
			// 	$('#mobile_no').val('');
			// 	$('#mobile_no').trigger('keyup');
			// });


		});
</script>
