<div ng-keydown="keyDownFunc($event)">
	<div id="inputCal"></div>
<div class="card-panel z-depth-0 filter-card">

		<div class="card small padding-bottom-10">
			<div class="row margin-bottom-0">
				<div class="input-field col l2">
					<select ng-model="lead_stage_filter" class="browser-default margin-top-5" tabindex="7">
				      <option value="" selected>Select</option>
				      <option value="{{ key }}" ng-repeat="(key, value) in lead_stage_options">{{ value }}</option>
				    </select>
				    <label class="active">Lead Stage</label>
				</div>
				<div class="input-field col l2">
					<select ng-model="lead_owner_filter" class="browser-default margin-top-5" tabindex="8">
				      <option value="" selected>Select</option>
				      <option value="Abdulkader">Abdulkader Hamead</option>
				      <option value="Axchita">Axchita Singh</option>
				      <option value="Fatema">Fatema Patanwala</option>
				      <option value="Leejohn">Leejohn Vaz</option>
				      <option value="Nasreen">Nasreen Siddiqui</option>
				      <option value="Varun">Varun Vaz</option>
				      <option value="API">Website</option>
				    </select>
				    <label class="active">Lead Owner</label>
				</div>
				<div class="input-field col l2">
					<select ng-model="lead_source_filter" class="browser-default margin-top-5" tabindex="9">
				      <option value="" selected>Select</option>
				      <option value="{{ key }}" ng-repeat="(key, value) in lead_source_options">{{ value }}</option>
				    </select>
				    <label class="active">Lead Source</label>
				</div>
				<div class="input-field col l3">
					<input type="text" id="keyword" ng-model="keyword" class="margin-top-5" tabindex="10">
					<label class="active" for="keyword">Name/Contact/Email</label>
				</div>
				<div class="input-field col l1">
					<input type="date" ng-model="from_date" class="mydatepicker margin-top-5">
					<label for="from_date" class="active">Inquiry From</label>
				</div>
				<div class="input-field col l1">
					<input type="date" ng-model="to_date" class="mydatepicker margin-top-5">
					<label for="to_date" class="active">Inquiry To</label>
				</div>
				<div class="input-field col l1">
					<button class="waves-effect waves-light grey btn margin-top-5" ng-click="filterLeads(1)">
						<i class="material-icons left">search</i>
					</button>
				</div>
			</div>
			<div class="row margin-bottom-10">
				<div class="input-field col l2">
					<select class="browser-default" ng-model="city_filter" tabindex="11">
					    <option value="" selected>City</option>
					    <option value="{{ key }}" ng-repeat="(key,value) in cities">{{ value }}</option>
					</select>
				</div>
				<div class="input-field col l2">
					<select ng-model="service_filter" class="browser-default" tabindex="12">
					    <option value="" selected>Service</option>
					    <option value="{{ key }}" ng-repeat="(key,value) in services_options">{{ value }}</option>
					</select>
				</div>
				<div class="input-field col l2">
					<select ng-model="type_filter" class="browser-default">
					    <option value="" selected>Type</option>
					    <option value="address">Address</option>
					    <option value="invoice">Invoice Amount</option>
					    <option value="billing_name">Billing Name</option>
					    <option value="billing_address">Billing Address</option>
					    <option value="id">Lead Id</option>
					</select>
				</div>
				<div class="input-field col l3">
					<input type="text" ng-model="type_keyword" class="margin-top-5">
					<label class="active">Enter text</label>
				</div>
				<div class="input-field col l1">
					<input type="date" ng-model="from_sdate" class="mydatepicker margin-top-5">
					<label class="active">Service From</label>
				</div>
				<div class="input-field col l1">
					<input type="date" ng-model="to_sdate" class="mydatepicker margin-top-5">
					<label class="active">Service To</label>
				</div>
			</div>
	</div>
</div>

<div ng-show="loading" class="loading"><img src="img/hourglass.gif" width="80" height="80" />LOADING...</div>
<div>
<ul class="collapsible popout lead_list margin-top-20" data-collapsible="accordion" ng-model="leads">
			<li ng-repeat="lead in leads" ng-click="setLeadIndex($index)">
				<div class="collapsible-header">

					<div class="row margin-bottom-0">
						<div class="col l3">

							<h5 class="inline-block">{{ lead.client_details.firstname }} {{ lead.client_details.lastname }} | <span class="font-size-14"><strong>{{ cities[lead.city] }}</strong></span><br />
							<span class="flow-text"><img src="img/phone.png" /><strong>{{ lead.client_details.primary_contact_no }}</strong></span><br /><span class="flow-text"><img src="img/email.png" /><strong>{{ lead.client_details.primary_email_id }}</strong></span></h5>

						</div>
						<div class="col l3">

							<h5 class="inline-block"><span class="flow-text truncate font-size-14"><strong>Services</strong><br />
							<span ng-repeat="service in lead.service_obj" class="font-size-14">
								<span ng-hide="service.is_amc"><span ng-if="service.lead_history.length > 0"><b>{{ lead_stage_options[service.lead_history[service.lead_history.length-1].lead_stage] }}</b> - </span>{{ services_options[service.service_id] }} - {{ variant_options[service.variant_type_id] }} <!-- <span ng-if="service.additional_variant">({{ service.additional_variant }})</span> --></span>
								<span ng-show="service.is_amc"><span ng-if="service.lead_history.length > 0"><b>{{ lead_stage_options[service.lead_history[service.lead_history.length-1].lead_stage] }}</b> - </span><a class="modal-trigger" data-target="view_all_amcs" ng-click="loadAllAMC(service._id)" modal>{{ services_options[service.service_id] }} - {{ variant_options[service.variant_type_id] }}<!--  <span ng-if="service.additional_variant">({{ service.additional_variant }})</span> --></a></span> <br />
							</span>
							</span></h5>
						</div>
						<div class="col l4">

							<h5 class="inline-block margin-right-10">
								<span class="flow-text font-size-14">
								<strong>Lead Source: </strong>
								{{ lead_source_options[lead.leadsource] }}
								</span><br />
								<span class="flow-text font-size-14">
								<strong>Lead Owner: </strong>
								{{ lead.leadowner }}
								</span><br />
								<span ng-if="lead.reminder" class="flow-text font-size-14">
								<strong>Reminder: </strong>
								<a class="modal-trigger" data-target="add_reminder" ng-click="setLeadId(lead._id,$index)" modal>{{ lead.reminder | date:'dd/MM/yyyy' }}</a>
								</span>
								<span ng-else class="flow-text font-size-14">
									<strong>Reminder: </strong>
									<a class="modal-trigger" data-target="add_reminder" ng-click="setLeadId(lead._id,$index)" modal>NA</a>
								</span>
							</h5>

							<h5 class="inline-block">
								<span class="flow-text font-size-14">
								<strong>Inquiry Date</strong><br />
								{{ lead.created_on | date:'dd/MM/yyyy' }}
								</span>
							</h5>

						</div>
						<div class="col l2" ng-if="currentUser.role!='view'">
							<div class="margin-top-5 center">
					 		<a href="lead/edit/{{ lead._id }}" class="waves-effect waves-light btn"><i class="material-icons left">mode_edit</i></a>
							<a class="waves-effect waves-light btn green" ng-show="lead.client_details.primary_email_id && (lead.service_obj | isCloseService)" data-target="view_all_services_sms" ng-click="printInvoice($index)" modal><i class="material-icons left">send</i></a>
							<a class="waves-effect waves-light btn red" ng-click="deleteLead(lead)"><i class="material-icons left">delete</i></a>
							<a class="waves-effect waves-light btn orange" ng-show="lead.client_details.primary_email_id && (lead.service_obj | isCloseService)" ng-click="sendOnGoingMsg($index)"><i class="material-icons left">message</i></a>
							<a class="waves-effect waves-light btn purple darken-4" ng-show="lead.client_details.primary_email_id && (lead.service_obj | isNotCloseService)" ng-click="sendQuote($index)"><i class="material-icons left">monetization_on</i></a>
							<a class="waves-effect waves-light btn blue" ng-class=" (lead.service_obj|isInvoiceSent)==1 ? 'grey lighten-2 ' : 'blue'" ng-show="(lead.service_obj | isCloseService)" data-target="view_all_services" ng-click="printInvoice($index)" modal>&nbsp;&nbsp;&nbsp;&nbsp;send/print invoice&nbsp;&nbsp;&nbsp;&nbsp;</a>
							
							</div>
						</div>
					</div>


				</div>
				<div class="collapsible-body">

					 <div class="card-panel lead_services z-depth-0">



						<table class="bordered">
				        <thead>
				          <tr>
				              <th>Lead Stage</th>
				              <th>Service Name</th>
				              <th>Service Date</th>
				              <th>Service Time</th>
				              <th>Invoice Amount</th>
				              <th>Client Payment Expected</th>
				              <th>Actions</th>
				          </tr>
				        </thead>

				        <tbody>
				          <tr ng-repeat="service in lead.service_obj" ng-init="serviceIndex = $index" ng-class="service.is_amc==1 ? 'light-grey' : ''">
				            <td><span class="badge {{ lead_stage_color[lead_stage_options[service.lead_history[service.lead_history.length-1].lead_stage]] }}" ng-click="showLeadHistory(service)" data-target="show_lead_stage_modal" modal>{{ lead_stage_options[service.lead_history[service.lead_history.length-1].lead_stage] }}</span></td>
				            <td>{{ services_options[service.service_id] }}</td>
				            <td ng-hide="service.is_amc">
				            	<span ng-repeat="sd in service.service_date track by $index">
				            		<a ng-click="setLeadServiceDate($index,service._id,service,serviceIndex)" class="cursor-pointer" data-target="reschedule_service" modal>
										{{ sd | date:'dd/MM/yyyy' }}
				            		</a><br />
				            	</span>
				            </td>
				            <td ng-hide="service.is_amc">
				            	<span ng-repeat="st in service.service_time">
				            		{{ st | date:'HH:mm a'}}<br />
				            	</span>
				            </td>
				            <td ng-show="service.is_amc">{{ service.contract_start_date | date:'dd/MM/yyyy' }}</td>
				            <td ng-show="service.is_amc">{{ service.contract_end_date | date:'dd/MM/yyyy' }}</td>
				            <td>{{ service.taxed_cost }}</td>
				            <td>{{ service.client_payment_expected }}</td>
				            <td>
				            	<span ng-show="service.is_order==1 && service.service_status!=3 && service.is_amc!=1">
				            	<input name="service_group" type="checkbox" id="confirm{{ service._id }}" ng-click="confirmService(service._id)"  />
								<label for="confirm{{ service._id }}" class="display-inline padding-top-3"></label>
								</span>
								<span ng-show="service.service_status==3" ng-click="unconfirmService(service._id)"><img class="left display-inline margin-right-5 margin-top-neg-2" src="img/tick_circle.gif" /></span>
				            	<a ng-click="deleteLeadService(service._id,$index,service)"><img src="img/delete.png" /></a>
				            	<a ng-click="setRemarkService($index,service)" data-target="update_remark" modal><i class="material-icons left">message</i></a>
				            	<a tooltipped class="tooltipped red-text" ng-if="service.cancellation_reason" data-position="bottom" data-delay="50" data-tooltip="{{ service.cancellation_reason==10 ? service.other_cancellation_reason : cancellation_reasons[service.cancellation_reason] }}"><i class="material-icons left">speaker_notes_off</i></a>
				            	<!-- <span ng-show="service.is_amc"><a ng-click="deleteLeadAMCService(service._id,$index,service)"><img src="img/delete.png" /></a></span> --> 
				           	</td>
				          </tr>
				        </tbody>
				      </table>

					 </div>

				</div>
			</li>

		</ul>
		<div ng-show="hasMoreData==true&&loading==false" class="loading"><button ng-click="nextPage()" class="btn waves-effect waves-light blue">LOAD MORE DATA</button></div>

	<div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
        <a class="btn-floating btn-large red" data-target="add_lead_modal" data-position="left" data-delay="50" data-tooltip="Add Lead" modal>
          <i class="material-icons">add</i>
        </a>
    </div>

    <div id="add_reminder" class="modal modal_md">
	    <div class="modal-content">
			<div class="row">
				<div class="input-field col l10">
					<input input-date id="reminder" type="text" ng-model="reminder" container="#inputCal" format="yyyy-mm-dd" select-years="15" >
					<label for="reminder">Reminder Date</label>
				</div>
				<div class="input-field col l2">
					<a class=" modal-action modal-close waves-effect waves-green btn" ng-click="updateReminder()">Ok</a>
				</div>
			</div>
	    </div>
	  </div>

    <div id="update_remark" class="modal modal_md">
	    <div class="modal-content">
	    	<div class="row margin-bottom-10" ng-show="crm_remark_arr.length > 0">
				<div class="col l12 work-order-tbl">
					<table>
						<thead>
							<th>Date</th>
							<th style="width: 50%;">Remark</th>
							<th>Updated By</th>
							<th>Add to WO</th>
						</thead>
						<tbody>
							<tr ng-repeat="cr in crm_remark_arr">
								<td>{{ cr.added_on | date:'dd MMM yyyy' }}</td>
								<td>{{ cr.remark }}</td>
								<td>{{ cr.added_by }}</td>
								<td>
									<select dynamic-model="'select_option' + cr._id" class="browser-default new-select-css" ng-change="updateServiceRemarkStatus($index,select_option);">
									    <option>Select</option>
									    <option value="1" ng-selected="cr.show==1">Yes</option>
									    <option value="0" ng-selected="cr.show==0">No</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="input-field col l12">
					<textarea rows="2" ng-model="additional_notes" class="materialize-textarea"></textarea>
					<label for="additional_notes">Additional Notes</label>
				</div>
			</div>
	    </div>
	    <div class="modal-footer">
			<a class=" modal-action waves-effect waves-green btn" ng-click="updateLeadServiceRemark()">Update</a>
			<a class=" modal-action modal-close waves-effect waves-grey btn-flat">Close</a>
	    </div>
	</div>


<div id="show_lead_stage_modal" class="modal">
	    <div class="modal-content">
	      <h4>{{ service_lead_stage.service_name }}</h4>

	      <div class="collection">
		    <a href="#!" ng-repeat="ls in service_lead_stage.lead_history | orderBy: '-updated_on'" class="collection-item">

		    	<span class="badge {{ lead_stage_color[lead_stage_options[ls.lead_stage]] }}">
		    		{{ lead_stage_options[ls.lead_stage] }}
		    	</span>
		    	<strong class="black-text">{{ ls.updated_on | date:'dd MMMM yyyy' }} at {{ ls.updated_on | date:'h:m a'}} : </strong>{{ lead_stage_remark_options[ls.lead_remark] }} - <strong class="black-text">{{ ls.updated_by }}</strong>
		    </a>
		  </div>


	    </div>
	    <div class="modal-footer">
	      <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>


<!-- 	<div id="show_invoice" class="modal modal_lg">
	    <div class="modal-content">

	    </div>
	    <div class="modal-footer">
	      <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>
 -->

<div ng-controller="ClientController">

<div id="add_lead_modal" class="modal modal_sm">
	    <div class="modal-content">
		<div class="row">
			<div class="input-field col l12">
				<input id="mobile_no" input-field type="text" ng-model="searchVal" ng-change="searchClient()">
				<label for="mobile_no">Enter Mobile Number</label>
			</div>
			<div class="col l12">

				<table class="bordered" id="filter_client">
					<thead>
					  <tr>

					      <th>Client Name</th>
					      <th>Client Mobile No. {{ clients.length }}</th>
					  </tr>
					</thead>

					<tbody>
					  <tr ng-repeat="client in clients" ng-click="getClientInfo(client)">

					    <td>{{ client.firstname }} {{ client.lastname }}</td>
					    <td>{{ client.primary_contact_no }}</td>
					  </tr>
					  <!-- <tr>
					    <td>
						<input name="phone_group[]" type="checkbox" id="check2" value="3478" />
						<label for="check2"></label>
					    </td>
					    <td>Aasheesh Dwivedi</td>
					    <td>9089876543</td>
					  </tr>
					  <tr>
					    <td>
						<input name="phone_group[]" type="checkbox" id="check3" value="3489" />
						<label for="check3"></label>
					    </td>
					    <td>Tanveer Khan</td>
					    <td>9768328844</td>
					  </tr> -->
					</tbody>
				      </table>

				<table class="bordered" id="create_client">
					<tr>
						<td>Not found, <a class="cursor-pointer" id="cr_client" data-target="add_user_modal" modal>create</a></td>
					</tr>
				</table>

			</div>
		</div>
	    </div>
	    <div class="modal-footer">
		<!-- <a class=" modal-action waves-effect waves-green btn" ng-click="getAllClients();">Ok</a> -->
		<a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	  </div>

	  <div id="select_address" class="modal modal_md modal-fixed-footer">
	    <div class="modal-content">
	    	<div ng-show="isNewAddress">
			<h5>Add Address</h5>
			<div class="row margin-bottom-5">
				<div class="input-field col l12">
					<textarea id="client_address" ng-model="address" class="materialize-textarea"></textarea>
					<label for="client_address">Enter your address</label>
				</div>
			</div>
		    <div class="row margin-bottom-5">
				<div class="input-field col l6">
					<input id="landmark" ng-model="landmark" type="text">
					<label for="landmark">Enter your landmark</label>
				</div>
				<div class="input-field col l6">
					<select id="city" ng-model="city">
					    <option value="" disabled selected>Select</option>
					    <option value="1">Mumbai</option>
					    <option value="2">Bangalore</option>
					    <option value="3">New Delhi</option>
							<option value="11">Pune</option>
					</select>
					<label for="city">City</label>
				</div>
			</div>
			<div class="row center margin-bottom-5">
				<div class="input-field col l12">
					<button class="waves-effect waves-light btn" ng-click="saveAddress()">Save</button>
					<button class="waves-effect waves-light btn grey" ng-click="cancelAddAddress()">Cancel</button>
				</div>
			</div>
			</div>
			<div class="row margin-bottom-5" ng-hide="isNewAddress">
				<div class="col l12">

					<table class="bordered">
						<thead>
						  <tr>
						      <th>
						      	Select Address
						      	<button class="waves-effect waves-light btn right" ng-click="addNewAddress()">Add Address</button>
						      </th>
						  </tr>
						</thead>
						<tbody>
							<tr ng-repeat="ad in addresses">
							    <td>
								<input name="address_group" type="radio" id="{{ad._id}}" value="{{ad._id}}" ng-click="setAddress(ad)" />
								<label for="{{ad._id}}">{{ad.address}} ,{{ad.landmark}}, {{  cities[ad.city]}}</label>
							    </td>
							  </tr>
						</tbody>
					</table>

				</div>
			</div>
	    </div>
	    <div class="modal-footer">
		<a class=" modal-action waves-effect waves-green btn" ng-click="addEditLead()">Ok</a>
		<a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	  </div>


	 <div id="add_user_modal" class="modal modal_md modal-fixed-footer">
	    <div class="modal-content">
	      <h4>Add new user</h4>

	      <div class="row">
			<div class="input-field col l6">
				<input id="client_firstname" ng-model="firstname" type="text" tabindex="1">
				<label for="client_firstname">Enter First Name</label>
			</div>
			<div class="input-field col l6">
				<input id="client_lastname" ng-model="lastname" type="text" tabindex="2">
				<label for="client_lastname">Enter Last Name</label>
			</div>
		</div>
	      <div class="row">
			<div class="input-field col l6">
				<input id="client_mobile_no" ng-model="primary_contact_no" type="text" tabindex="3" value="{{ searchVal }}">
				<label for="client_mobile_no">Enter Mobile Number</label>
			</div>
			<div class="input-field col l6">
				<input id="client_email_id" ng-model="primary_email_id" type="email" tabindex="4" class = "form-control" invalid-message="'Thats not a real email address'" required-message="'Yo this is required'" validate-on="blur" required>
				<label for="client_email_id">Enter Email Id</label>
			</div>
		</div>

		<!-- <div class="row">
			<div class="input-field col l12">
				<textarea id="client_address" ng-model="address" class="materialize-textarea"></textarea>
				<label for="client_address">Enter your address</label>
			</div>
		</div> -->
	      <div class="row">
			<!-- <div class="input-field col l6">
				<input id="landmark" ng-model="landmark" type="text">
				<label for="landmark">Enter your landmark</label>
			</div> -->
			<div class="input-field col l6">
				<select id="city" class="browser-default" ng-model="client_city" tabindex="5">
				    <option value="" disabled selected>City</option>
				    <option value="{{ key }}" ng-repeat="(key,value) in cities">{{ value }}</option>
				</select>
				<!-- <label for="city">City</label> -->
			</div>
		</div>

	    </div>
	    <div class="modal-footer">
		<a class=" modal-action waves-effect waves-green btn" ng-click="saveClient()" tabindex="6">Create</a>
	      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>



</div>

	<div id="view_all_amcs" class="modal modal-fixed-footer modal_lg">
	    <div class="modal-content">
			<div class="row">
				<div class="col l12">

					<table class="bordered">
						<thead>
						  <tr>
							<th>AMC No.</th>
							<th>Service Name</th>
							<th>Service Date</th>
							<th>Service Time</th>
							<th>Reschedule By</th>
							<th>Actions</th>
						  </tr>
						</thead>

						<tbody>
						  <tr ng-repeat="amc in amc_services" ng-class="amc.is_done==1 ? 'amc-done-bg-color' : ''">
						    <td>{{ amc.amc_label }}</td>
						    <td>{{ services_options[amc.service_id] }}</td>
						    <td>
						    	<span ng-repeat="asd in amc.service_date">
						    		<a class="modal-trigger" ng-click="setAMCServiceDate($index,amc._id,amc)" data-target="reschedule_amc_service" modal>{{ asd | date:'dd MMMM yyyy' }}</a>
						    		<!-- <span ng-show="amc.is_done">{{ asd | date:'dd MMMM yyyy' }}</span><br /> -->
						    	</span>
						    </td>
						    <td>
						    	<span ng-repeat="ast in amc.service_time">
						    		{{ ast | date:'HH:mm a' }}<br />
						    	</span>
						    </td>
						    <th>
						    	<span ng-if="amc.status==1">
						    		Client
						    	</span>
						    	<span ng-else>
						    		System
						    	</span>
						    </th>
						    <td>
						    	<span ng-show="amc.is_order==1 && amc.service_status!=3">
				            	<input name="amc_group" type="checkbox" id="confirm{{ amc._id }}" ng-click="confirmAMCService(amc._id)"  />
								<label for="confirm{{ amc._id }}" class="display-inline padding-top-3"></label>
								</span>
								<span ng-show="amc.service_status==3" ng-click="unconfirmAMCService(amc._id)"><img class="left display-inline margin-right-5 margin-top-neg-2" src="img/tick_circle.gif" /></span>
						    	<span ng-hide="amc.is_done"><a ng-click="deleteLeadAMCService(amc._id,$index,amc)"><img src="img/delete.png" /></a></span>
						    </td>
						  </tr>
						</tbody>
					      </table>

				</div>
			</div>
	    </div>
	    <div class="modal-footer">
		<a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>


	<div id="view_all_services" class="modal modal-fixed-footer modal_lg">
	    <div class="modal-content">

	    	<!-- <div class="row">
	    		<div class="col l12">
			    	<select ng-model="customer_invoice_type" ng-change="setCustomerInvoiceType(customer_invoice_type)" class="browser-default right" style="width: 200px;">
				      <option value="0" selected>Client</option>
				      <option value="1">Partner</option>
				    </select>
	    		</div>
	    	</div> -->

			<div class="row" ng-hide="isNextClick">
				<div class="col l12">

					<table class="bordered">
						<thead>
						  <tr>
							<th>
								<input name="service_group" type="checkbox" id="all" ng-click="checkAllServices()"  />
								<label for="all"></label>
							</th>
							<th>Service Name</th>
							<th>Service Date</th>
							<th>Service Time</th>
						  </tr>
						</thead>

						<tbody>
						  <tr ng-repeat="service_obj in services_obj | filter: { is_order: 1, status: 0 }">
						    <td>
						    	<input name="selectedService[]" ng-click="getCheckedValues()" type="checkbox" value="{{ service_obj._id }}" id="{{ service_obj._id }}"  />
								<label for="{{ service_obj._id }}"></label>
						    </td>
						    <td>{{ services_options[service_obj.service_id] }}</td>
						    <td>
						    	<span ng-repeat="sd in service_obj.service_date">
						    		{{ sd | date:'dd MMMM yyyy' }}<br />
						    	</span>
						    </td>
						    <td>
						    	<span ng-repeat="st in service_obj.service_time">
						    		{{ st | date:'HH:mm a' }}<br />
						    	</span>
						    </td>
						  </tr>
						</tbody>
					      </table>

				</div>
			</div>
			<div  ng-show="isNextClick">
		      <h4>Invoice | <a class="cursor-pointer" data-target="set_email_modal" modal><small class="font-size-14">{{ billing_name }} ({{ email }})</small></a></h4>

		      <div class="collection">
		      	<div id="invoice_html_content">
					{{ invoice_html_content }}
		      	</div>
			  </div>

			</div>

	    </div>
	    <div class="modal-footer">
		<a href="" class=" btn modal-action waves-effect waves-green" ng-show="isNextVisible" ng-hide="isNextEnabled" ng-click="getSelectedServices()">Next</a>
		<a href="" class="btn waves-effect waves-blue margin-left-10" ng-hide="isNextVisible" ng-click="exportInvoiceToPdf()">Export to PDF</a>
		<a href="" class="btn waves-effect waves-blue margin-left-10" ng-hide="isNextVisible" ng-click="sendInvoice()">Send</a>
		<a href="" class=" btn waves-effect waves-green" ng-hide="isNextVisible" ng-click="print()">Print</a>
		<a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>


	<div id="view_all_services_sms" class="modal modal-fixed-footer modal_lg">
	    <div class="modal-content">
			<div class="row" ng-hide="isNextClick">
				<div class="col l12">

					<table class="bordered">
						<thead>
						  <tr>
							<th>
								<input name="service_group" type="checkbox" id="all_sms" ng-click="checkAllServices()"  />
								<label for="all_sms"></label>
							</th>
							<th>Service Name</th>
							<th>Service Date</th>
							<th>Service Time</th>
						  </tr>
						</thead>

						<tbody>
						  <tr ng-repeat="service_obj in services_obj | filter: { is_order: 1 }">
						    <td>
						    	<input name="selectedService[]" ng-click="getCheckedValues()" type="checkbox" value="{{ service_obj._id }}" id="{{ service_obj._id }}_sms"  />
								<label for="{{ service_obj._id }}_sms"></label>
						    </td>
						    <td>{{ services_options[service_obj.service_id] }}</td>
						    <td>
						    	<span ng-repeat="sd in service_obj.service_date">
						    		{{ sd | date:'dd MMMM yyyy' }}<br />
						    	</span>
						    </td>
						    <td>
						    	<span ng-repeat="st in service_obj.service_time">
						    		{{ st | date:'HH:mm a' }}<br />
						    	</span>
						    </td>
						  </tr>
						</tbody>
					      </table>

				</div>
			</div>

	    </div>
	    <div class="modal-footer">
			<a href="" class=" btn waves-effect waves-green" ng-hide="isNextEnabled" ng-click="sendPaymentLink()">Send Payment Link</a>
			<a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	</div>


	  <div id="set_email_modal" class="modal modal_sm">
	    <div class="modal-content">
			<div class="row">
				<div class="input-field col l12">
					<input id="email" ng-model="email" type="text">
					<label for="email">Email Id</label>
				</div>
			</div>
	    </div>
	    <div class="modal-footer">
			<a class=" modal-action waves-effect waves-green btn" ng-click="setBillingDetails()">Ok</a>
	    </div>
	  </div>


	  <div id="reschedule_amc_service" class="modal modal_md">
	    <div class="modal-content">
			<div class="row">
				<div class="input-field col l6" ng-hide="checkStatus">
					<input type="text" name="service_date" class="mydatepicker" id="service_date" ng-model="amc_service_date" format="yyyy-mm-dd" />
					<label for="service_date">Service Date</label>
				</div>
				<div class="input-field col l6" ng-hide="checkStatus">
					<input id="service_time" ng-model="amc_service_time" data-autoclose="true" data-container="body" input-clock data-twelvehour="false" type="text">
					<label for="service_time">Service Time</label>
				</div>
				<div class="input-field col l6" ng-hide="checkStatus">
					<select id="amc_type" class="browser-default" ng-model="amc_type" tabindex="5">
					    <option value="" disabled selected>Select</option>
					    <option value="0" >Client</option>
					    <option value="1" >System</option>
					</select>
				</div>
			</div>
	    </div>
	    <div class="modal-footer">
			<a class=" modal-action waves-effect waves-green btn" ng-click="rescheduleAMCService()">Update</a>
	    </div>
	  </div>



	  <div id="reschedule_service" class="modal modal_md">
	    <div class="modal-content">
			<div class="row">
				<div class="input-field col l6" ng-hide="checkStatus">
					<input type="text" name="service_date" class="mydatepicker" id="service_date" ng-model="service_date" format="yyyy-mm-dd" />
					<label for="service_date">Service Date</label>
				</div>
				<div class="input-field col l6" ng-hide="checkStatus">
					<input id="service_time" ng-model="service_time" data-autoclose="true" data-container="body" input-clock data-twelvehour="false" type="text">
					<label for="service_time">Service Time</label>
				</div>
			</div>
	    </div>
	    <div class="modal-footer">
			<a class=" modal-action waves-effect waves-green btn" ng-click="rescheduleLeadService()">Update</a>
	    </div>
	  </div>



</div>

<script type="text/javascript">
		$(document).ready(function(){
			$('.collapsible').collapsible();
			$('.tooltipped').tooltip({delay: 50});
			$('select').material_select();
			$('.mydatepicker').pickadate({
			    selectMonths: true, // Creates a dropdown to control month
			    selectYears: 15, // Creates a dropdown of 15 years to control year
			    format: 'yyyy-mm-dd',
			    onClose: function(){
			        $('.mydatepicker').blur();
			        $('.picker').blur();
			        $('.mydatepicker').stop();
				},
				container: '#datepicker_placeholder'
			});

			$(".btn-hide-search").click(function(){
				$(".filter-card").hide();
			});
			$(".btn-show-search").click(function(){
				$(".filter-card").show();
			});

			$('#mobile_no').on('blur',function(){
				$('.mydatepicker').blur();
		        $('.picker').blur();
		        $('.mydatepicker').stop();
			});

			$('#city').on('blur',function(){
				console.log("Leads");
				$("#client_firstname").focus();
				$('.mydatepicker').blur();
		        $('.picker').blur();
		        $('.mydatepicker').stop();
			});


			// $('#mobile_no').on('keyup',function(){

			// 	//console.log($(this).val());
			// 	$('#filter_client').fadeIn();
			// 	$("#filter_client td:nth-child(3):contains('" + $(this).val() + "')").parent().show();
			// 	$("#filter_client td:nth-child(3):not(:contains('" + $(this).val() + "'))").parent().hide();
			// 	if($("#filter_client td:nth-child(3):contains('" + $(this).val() + "')").length == 0) {
			// 		$('#filter_client').hide();
			// 		$('#create_client').fadeIn();
			// 	} else {
			// 		$('#create_client').hide();
			// 	}
			// });

			// $('#cr_client').click(function(){
			// 	$('#add_lead_modal').closeModal();
			// 	$('#mobile_no').val('');
			// 	$('#mobile_no').trigger('keyup');
			// });


		});
</script>
