<div class="row">

    <div class="col-md-12">

        <div class="row">

            <div class="col-md-3">
                <a href="/zones" class="main-nav">
                    Zones
                </a>
            </div>

            <div class="col-md-3">
                <a href="/states" class="main-nav">
                    States
                </a>
            </div>

            <!-- <div class="col-md-3">
                <a href="/brands" class="main-nav">
                    Brands
                </a>
            </div> -->

            <!-- <div class="col-md-3">
                <a href="/categories" class="main-nav">
                    Category
                </a>
            </div>

            <div class="col-md-3">
                <a href="/companies" class="main-nav">
                    Company
                </a>
            </div>
 -->
            <div class="col-md-3">
                <a href="/sites" class="main-nav">
                    Site
                </a>
            </div>

            <!-- <div class="col-md-3">
                <a href="/vendors" class="main-nav">
                    Vendor
                </a>
            </div> -->
            <div class="col-md-3">
                <a href="/requisition/vendors" class="main-nav">
                    Vendors
                </a>
            </div>

            <!-- <div class="col-md-3">
                <a href="/cost_centres" class="main-nav">
                    Cost Centre
                </a>
            </div>

            <div class="col-md-3">
                <a href="/departments" class="main-nav">
                    Department
                </a>
            </div>

            <div class="col-md-3">
                <a href="/employees" class="main-nav">
                    Employee
                </a>
            </div> -->

            <div class="col-md-3">
                <a href="/item/type" class="main-nav">
                    Item Type
                </a>
            </div>

           <!--  <div class="col-md-3">
                <a href="/model_nos" class="main-nav">
                    Model No.
                </a>
            </div> -->

            <div class="col-md-3" ng-if="currentUser.user_type == 'A'">
                <a href="/user/all" class="main-nav">
                    User
                </a>
            </div>

            <div class="col-md-3">
                <a href="/items" class="main-nav">
                    Requisition Item
                </a>
            </div>


        </div>

    </div>
    
</div>